@using ServicesManagement.Web.Models.NivelExistencia
@{
    ViewBag.Title = "Nivel de Existencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .vsb-menu {
        cursor: pointer;
        z-index: 1000;
        display: block;
        visibility: hidden;
        position: absolute; /*Don't change*/
        border: 1px solid #B2B2B2;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border-radius: 4px;
        font-size: 11px;
        width: 450px
    }

    .vsb-js-search-zone {
        position: absolute; /*Don't change*/
        z-index: 1001;
        width: 80%;
        min-height: 1.8em;
        padding: 2px;
        background-color: #fff;
    }

        .vsb-js-search-zone input {
            border: 1px solid grey;
            margin-left: 2px;
            width: 96%;
            border-radius: 4px;
            height: 25px !important;
        }

    .vsb-main {
        position: relative; /*Don't change*/
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 100%;
    }

    .vsb-menu li:hover {
        background: linear-gradient(#f5f5f5, #e8e8e8);
    }

    .vsb-menu ul {
        user-select: none;
        list-style: none;
        white-space: nowrap;
        margin: 0px;
        margin-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        color: black;
        cursor: pointer;
        overflow: scroll;
    }

    li.disabled {
        cursor: not-allowed;
        opacity: 0.3;
        background-color: #999;
    }

    li.overflow {
        cursor: not-allowed;
        opacity: 0.3;
        background-color: #999;
    }

    li.short {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vsb-main button {
        min-width: 120px;
        border-radius: 0;
        width: 100%;
        text-align: left;
        z-index: 1;
        color: yellow;
        background: red !important;
        border: 1px solid #999 !important;
        line-height: 20px;
        font-size: 14px;
        padding: 6px 12px;
    }

        .vsb-main button.disabled {
            cursor: not-allowed;
            opacity: 0.65;
        }

    .vsb-main .title {
        margin-right: 6px;
        user-select: none;
    }

    .vsb-main li:hover {
        background: linear-gradient(#f5f5f5, #e8e8e8);
    }

    .vsb-main ul {
        white-space: nowrap;
    }

    .vsb-menu li {
        font-size: 14px;
        background-color: #fff;
        min-height: 1.4em;
        padding: 0.2em 2em 0.2em 1em;
    }

        .vsb-menu li.grouped-option b {
            display: inline-block;
            font-size: 15px;
            margin-left: 10px;
            transform: translate(-18px);
        }

        .vsb-menu li.grouped-option.open span {
            display: inline-block;
            font-size: inherit;
            margin-top: -2px;
            height: 8px;
            width: 8px;
            transform: translate(-38px) rotate(45deg);
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 2px;
        }

        .vsb-menu li.grouped-option.closed span {
            display: inline-block;
            font-size: inherit;
            height: 8px;
            width: 8px;
            transform: translate(-38px) rotate(-45deg);
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 2px;
        }

        .vsb-menu li.grouped-option i {
            display: inline-block;
            font-size: inherit;
            float: left;
            font-weight: bold;
            margin-left: 22px;
            margin-right: 2px;
            height: 11px;
            width: 8px;
            border: 1px solid;
            border-radius: 3px;
            padding: 1px 3px 2px 3px;
            margin-top: 0px;
            color: black;
        }

        .vsb-menu li.grouped-option.checked i::after {
            content: "";
            display: inline-block;
            font-size: inherit;
            color: #333;
            float: left;
            margin-left: 0px;
            display: inline-block;
            transform: rotate(45deg);
            height: 8px;
            width: 5px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
        }

    .vsb-menu :not(.multi) li.active {
        margin-left: 7px;
    }

        .vsb-menu :not(.multi) li.active::before {
            content: "";
            display: inline-block;
            font-size: inherit;
            margin-left: -18px;
            transform: rotate(45deg);
            height: 10px;
            width: 5px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 2px;
        }

    .vsb-menu .multi li {
        font-size: 14px;
        background-color: #fff;
        width: 600px;
    }

        .vsb-menu .multi li.grouped-option {
            font-size: 15px;
            padding-left: 5px;
        }


            .vsb-menu .multi li.grouped-option:hover {
                font-weight: bold;
                text-decoration: underline;
                color: rgb(52, 31, 112);
            }

        .vsb-menu .multi li:not(.grouped-option)::before {
            content: "";
            display: inline-block;
            font-size: inherit;
            float: left;
            font-weight: bold;
            margin-left: -22px;
            margin-right: 2px;
            border: 1px solid;
            border-radius: 3px;
            padding: 7px;
            margin-top: 0px;
            color: black;
        }

        .vsb-menu .multi li:not(.grouped-option).active::after {
            content: "";
            display: inline-block;
            font-size: inherit;
            color: #333;
            float: left;
            margin-left: -18px;
            display: inline-block;
            transform: rotate(45deg);
            margin-top: 1px;
            height: 8px;
            width: 5px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
        }

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }


    li[data-parent] {
        padding-left: 50px !important;
    }

    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }
</style>
<div class="row">
    <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
        <h2>Niveles de Existencia</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-3 col-lg-2">
        <div class="form-group">
            <label>Almacen </label>
            <select class="form-control m-b" id="ddlAlmacenes">
                <option value="0">--SELECCIONE--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-2">
        <div class="form-group">
            <label>Tienda/Proveedor</label>
            <select class="form-control m-b" id="ddlTienda" name="ddlTienda" multiple size="3">
            </select>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
        <label>&nbsp;</label>
        <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="Busqueda()">
            Buscar
        </button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="tblConsulta" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
            <thead class="bg-danger-sor">
                <tr>
                    <th>EAN/Codigo de barras</th>
                    <th>ID (#numero material SAP)</th>
                    <th>Nombre del Producto</th>
                    <th>Grupo de Categorías</th>
                    <th>No. Proveedor</th>
                    <th>T. Almacen</th>
                    <th>Nombre Proveedor</th>
                    <th>Nombre Almacen</th>
                    <th>Nivel de Existencias</th>
                    <th>Inventario Reservado</th>
                    <th>Inventario disponible para la venta</th>
                    <th>Stock de seguridad</th>
                    <th>Tipo de Articulo</th>
                    <th>Largo</th>
                    <th>Alto</th>
                    <th>Ancho</th>
                    <th>Peso</th>
                    <th>Peso Volumetrico</th>
                    <th>Peso Real</th>
                    <th>Estatus del codigo</th>
                    <th>Costo del Material</th>
                    <th>Fecha de cracion del Material</th>
                    <th>Num de proveedor que surte producto</th>
                    <th>Nom de proveedor que surte producto</th>
                </tr>
            </thead>
            <tbody>
                @*@{

                        IEnumerable<upCorpOMS_Cns_UeNoTotalsByOrder> list = ViewBag.Orders as IEnumerable<upCorpOMS_Cns_UeNoTotalsByOrder>;
                    }
                    @foreach (upCorpOMS_Cns_UeNoTotalsByOrder item in list)
                    {
                        <tr>

                            <td style="text-align:left;">@item.EAN</td>

                            <td style="text-align:left;">@item.SKU</td>
                            <td style="text-align:left;">@item.Descripcion</td>
                            <td style="text-align:left;">@item.Categoria</td>
                            <td style="text-align:left;">@item.NroProveedor</td>
                            <td style="text-align:left;">@item.TipoAlmacen</td>
                            <td style="text-align:left;">@item.NombreProveedor</td>
                            <td style="text-align:left;">@item.NombreAlmacen</td>

                            <td style="text-align:left;">@item.NivelExistencia</td>
                            <td style="text-align:left;">@item.InvReservado</td>
                            <td style="text-align:left;">@item.InvVenta</td>
                            <td style="text-align:left;">@item.InvSeguridad</td>
                            <td style="text-align:left;">@item.TipoArticulo</td>
                            <td style="text-align:left;">@item.Largo</td>
                            <td style="text-align:left;">@item.Alto</td>
                            <td style="text-align:left;">@item.Ancho</td>
                            <td style="text-align:left;">@item.Peso</td>
                            <td style="text-align:left;">@item.PesoVol</td>
                            <td style="text-align:left;">@item.PesoReal</td>
                            <td style="text-align:left;">@item.EstatusProducto</td>
                            <td style="text-align:left;">@item.CostoMaterial</td>
                            <td style="text-align:left;">@item.FechaCreacion</td>

                            <td style="text-align:left;">@item.NroProvOrigen</td>
                            <td style="text-align:left;">@item.NomProvOrigen</td>

                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script src="~/Content/plugins/multiselect/vanillaSelectBox.js?v0.72"></script>
    <script>

        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });

        });


        function ListAlmacen() {
             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListAlmacen", "Config")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    debugger;
                    if (json.Success) {
                        var sel = $("#ddlAlmacenes");
                        sel.empty();

                        $('#ddlAlmacenes').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdOwner + '">' + json.resp[i].OwnerName +'</option>');
                        }

                        $("#ddlAlmacenes").val("@ViewBag.IdOwner");
                        GetSupp(@ViewBag.IdOwner);

                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);

                }
            });
        }

        $("#ddlAlmacenes").change(function () {

            GetSupp($("#ddlAlmacenes").val());

        });

            function GetSupp(_idOwner) {
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListSuppliersById", "Config")',
                data: {
                    idOwner: _idOwner
                },
                datatype: "html",
                success: function (json) {
                    debugger;
                    if (json.Success) {
                        var sel = $("#ddlTienda");
                        sel.empty();

                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].IdProveedor + '">' + json.resp[i].NombreProveedor + '</option>');
                        }



                        @*if ($("#ddlTienda option[value='@ViewBag.IdTienda']").length == 0) {
                            $("#ddlTienda").val("0");
                        } else { $("#ddlTienda").val("@ViewBag.IdTienda"); }*@

                        init("ddlTienda");

                        var valores = "@ViewBag.IdTienda";

                        if (valores != '') {
                            var _array = valores.split(',');

                            setValues(_array);
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);

                }
            });
        }

        $(document).ready(function () {

            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "@Url.Content("~/NivelExistencia/GetNiveles")",
                        "type": "POST",
                        "datatype":"json"
                    },
                    "pageLength": 10,
                    "filter": true,
                    "responsivePriority": 1,
                    "data": null,
                    "columns": [
                        { "data": "EAN", "name": "EAN", "autoWidth": true },
                        { "data": "SKU", "name": "SKU", "autoWidth": true },
                        { "data": "Descripcion", "name": "Descripcion", "autoWidth": true },
                        { "data": "Categoria", "name": "Categoria", "autoWidth": true },
                        { "data": "NroProveedor", "name": "NroProveedor", "autoWidth": true },
                        { "data": "TipoAlmacen", "name": "TipoAlmacen", "autoWidth": true },
                        { "data": "NombreProveedor", "name": "NombreProveedor", "autoWidth": true },
                        { "data": "NombreAlmacen", "name": "NombreAlmacen", "autoWidth": true },
                        { "data": "NivelExistencia", "name": "NivelExistencia", "autoWidth": true },
                        { "data": "InvReservado", "name": "InvReservado", "autoWidth": true },
                        { "data": "InvVenta", "name": "InvVenta", "autoWidth": true },
                        { "data": "InvSeguridad", "name": "InvSeguridad", "autoWidth": true },
                        { "data": "TipoArticulo", "name": "TipoArticulo", "autoWidth": true },
                        { "data": "Largo", "name": "Largo", "autoWidth": true },
                        { "data": "Alto", "name": "Alto", "autoWidth": true },
                        { "data": "Ancho", "name": "Ancho", "autoWidth": true },
                        { "data": "Peso", "name": "Peso", "autoWidth": true },
                        { "data": "PesoVol", "name": "PesoVol", "autoWidth": true },
                        { "data": "PesoReal", "name": "PesoReal", "autoWidth": true },
                        { "data": "EstatusProducto", "name": "EstatusProducto", "autoWidth": true },
                        { "data": "CostoMaterial", "name": "CostoMaterial", "autoWidth": true },
                        { "data": "FechaCreacion", "name": "FechaCreacion", "autoWidth": true },
                        { "data": "NroProvOrigen", "name": "NroProvOrigen", "autoWidth": true },
                        { "data": "NomProvOrigen", "name": "NomProvOrigen", "autoWidth": true }


                    ]
                    , language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [{
                        text: 'Excel XLS',
                        action: function (e, dt, node, config) {

                            Excel();
                        }
                        }],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "scrollX": true
                    , "scrollY": "400px"
                    , "scrollCollapse": true
                }
            );


            ListAlmacen();
        });

    function Excel() {

        window.location = window.location.origin + '/NivelExistencia/Excel';
    }
    function Busqueda() {
        //var _FecIni = $("#txtFecIni").val();
        //var _FecFin = $("#txtFecFin").val();
        var _IdOwner = $("#ddlAlmacenes").val();
        //var _IdTienda = $("#ddlTienda").val();
        var count = 1;
        var values = getValues('ddlTienda');
        var _tiendas = '';

        values.forEach(x => {

            if (count > 1)
                _tiendas = _tiendas + ',' + x;
            else
                _tiendas = x;

            count++;
        });


        //if (_FecIni.length == 0) {
        //    $("#txtFecIni").focus();
        //    return;
        //}


        //if (_FecFin.length == 0) {
        //    $("#txtFecFin").focus();
        //    return;
        //}

        window.location.href = "NivelExistencia/NivelExistencia?IdOwner=" + _IdOwner + "&IdTienda=" + _tiendas;
        }
        function empty() {
            if (selectBox2 != null) {
                selectBox2.empty();
            }
        }
        function doDestroy(id) {

            if (id == "ddlTienda" && selectBox2 != null) {
                selectBox2.destroy();


            }
        }
        function init(id) {
            if (id == "ddlTienda") {

                selectBox2 = new vanillaSelectBox("#ddlTienda", { "disableSelectAll": true, "maxHeight": 200, "search":false, "translations": { "all": "All", "items": "Seleccionados", "selectAll": "Check All", "clearAll": "Clear All" } });
                
            }
        }
        function setValues(value) {
            if (selectBox2 != null) {
                selectBox2.setValue(value);
            }
        }
        function getValues(id) {
            let result = [];
            let collection = document.querySelectorAll("#" + id + " option");
            collection.forEach(function (x) {
                if (x.selected) {
                    result.push(x.value);
                }
            });
            return result;
        }
    </script>
}

