@{
    ViewBag.Title = "Orden";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    #table-scroll {
        height: 300px;
        overflow-y: auto;
        margin-top: 20px;
        width: 1200px;
    }
</style>
@{
    var UeType = string.Empty;
    if (Session["OrderSelected"] != null)
    {
        System.Data.DataSet ds = (System.Data.DataSet)Session["OrderSelected"];
        var dt = ds.Tables[0];

        System.Data.DataSet dsOP = (System.Data.DataSet)Session["OrderPackages"];


        int index = 0;
        foreach (System.Data.DataRow p in dt.Rows)
        {

            <div class="row">
                <div class="col-sm-3"><h2>Consignación: @p["UeNo"]</h2></div>
                <div class="col-sm-5"><h2>Fecha Arribo: @p["DeliveryDate"]</h2> </div>
                <div class="col-sm-4"><H2>Surtidor: @p["Supplier_Name"]</H2></div>
            </div>

            <input id="OrderNo" name="OrderNo" value="@p["OrderNo"]" style="visibility:hidden" />
            <input id="UeNo" name="UeNo" value="@p["UeNo"]" style="visibility:hidden" />
            <input id="StoreNum" name="StoreNum" value="@p["StoreNum"]" style="visibility:hidden" />
            <input id="OrderStatus" name="OrderStatus" value="@p["StatusUe"]" style="visibility:hidden" />
            <input id="UeType" name="UeType" value="@p["UeType"]" style="visibility:hidden" />
            UeType = @p["UeType"].ToString();
        }
    }
}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align:center">Para mostrar los datos completos de la consignación hacer click aquí.</div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    @if (UeType.Equals("SETC"))
    {
        <div class="col-sm-4" style="text-align:center;color:red">Número de contenedores mayor que 25.</div>
    }
    @if (UeType.Equals("DST"))
    {
        <div class="col-sm-4" style="text-align:center;color:red">Número de paquetes mayor que 25.</div>
    }
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align:center;color:red">Favor de revisar o reportar</div>
    <div class="col-sm-4"></div>
</div>
<div class="top-navigation pace-running pace-running pace-running pace-running">

    <div class="col-lg-4">
        @*<h2>Listado Orden</h2>*@
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/CPanel/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Ordenes")">Ordenes</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Embarque</strong>
            </li>
        </ol>
    </div>
    <br />
    <div id="tblConsulta_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        @*<div class="row">
                <div class="col col-xs-6">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Copy</span></button>
                        <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>CSV</span></button>
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Excel</span></button>
                    </div>
                </div>

            </div>*@
        <div id="table-scroll">
            <div id="tblConsulta_Surtido" class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer" style="height:300px;">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer" role="grid" style="width: 1115px;">
                            <thead class="bg-primary">
                                <tr role="row">
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;">Codigo</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 115px;">Descripcion</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 111px;">Cant. Pedida</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 126px;">Precio Internet</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 124px;">Cantidad Surtida</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 24px;">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>


                                @{

                                    //OrderNo
                                    //CnscOrder
                                    //ItemCnsc
                                    //ProductId
                                    //Barcode
                                    //ProductName
                                    //Quantity
                                    //Price
                                    //Observations
                                    //UnitMeasure

                                    if (Session["OrderSelected"] != null)
                                    {
                                        System.Data.DataSet ds = (System.Data.DataSet)Session["OrderSelected"];
                                        var dt = ds.Tables[4];


                                        int index = 0;
                                        foreach (System.Data.DataRow p in dt.Rows)
                                        {
                                            index ++;
                                            <tr>
                                                <td style="text-align:right">@p["Barcode"]<br />@p["ProductId"]</td>
                                                <td style="text-align:center">@p["ProductName"]</td>
                                                <td style="text-align:center">@p["pe_Quantity"]</td>
                                                <td>
                                                    @if ((decimal)(@p["pe_price"]) == 0)
                                                    {
                                                        @p["e_price"]
                                                    }
                                                    else
                                                    {
                                                        @p["pe_price"]
                                                    }
                                                </td>
                                                <td>@p["e_Quantity"]</td>
                                                @if (Session["OrderPackages"] != null)
                                                {
                                                    System.Data.DataSet dsOP = (System.Data.DataSet)Session["OrderPackages"];
                                                    if (dsOP.Tables[0].Rows[0][0].ToString() != "no hay datos de esa Consignacion")
                                                    {
                                                        var dtPG = dsOP.Tables[1];
                                                        foreach (System.Data.DataRow pg in dtPG.Rows)
                                                        {
                                                            if (@p["Barcode"].ToString() == @pg["Barcode"].ToString())
                                                            {
                                                                if (@pg["ConGuia"].ToString() == "1")
                                                                {
                                                                    <td style="text-align:center"><input class="form-check-input" type="checkbox" checked ="checked" disabled="disabled" value="" id="chkSel_@p["Barcode"].ToString()" /> </td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="text-align:center"><input class="form-check-input" type="checkbox" value="" id="chkSel_@p["Barcode"].ToString()" /> </td>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @{
            if (UeType.Equals("SETC"))
            {

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Numero de contenedores:</label>
                            <div class="col-sm-3"><input type="text" id="in_contenedores" placeholder="" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Numero de Bolsas:</label>
                            <div class="col-sm-3"><input type="text" id="in_bolsas" placeholder="" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Numero de Hieleras:</label>
                            <div class="col-sm-3"><input type="text" id="in_hieleras" placeholder="" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="text-align:center"></div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="CheckPinPad" checked>
                                <label class="form-check-label" for="flexCheckDefault" style="width:200px">
                                    Pin Pad:
                                </label>
                                <a class="btn btn-danger" onclick="FinalizaEmbarque()">Surtir Orden</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2"></div>
                </div>
            }
            if (UeType.Equals("DST"))
            {
                <div class="row">
                    <div class="col-lg-10">
                        <div class="ibox">
                            <div class="ibox-title">
                                @*<h5>Guias disponibles: </h5> <select class="form-control" id="sel1">
                                    <option>4562734567898230000000</option>
                                    <option>4536732345621340000000</option>
                                </select>*@
                                <h5>Embalaje</h5><br />
                                Su Embalaje
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <a class="link-primary" onclick="popEmbalaje()">+ AGREGAR PAQUETE</a>
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control" id="sel1">
                                            <option>KG/CM</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table id="tblEmbalaje" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer" role="grid" style="width: 1115px;">
                                            <thead class="bg-primary">
                                                <tr role="row">
                                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>NO DE PAQUETES</b><br />Max. 25</th>
                                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>PESO X PAQUETE</b><br />Peso max. 1000kg</th>
                                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>DIMENSIONES X PAQUETE</b><br />L X AN X AL (cm)</th>
                                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 110px;"><b>GUIA DE EMBARQUE</b><br /></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Session["OrderPackages"] != null)
                                                {
                                                    System.Data.DataSet dsOP = (System.Data.DataSet)Session["OrderPackages"];
                                                    if (dsOP.Tables[0].Rows[0][0].ToString() != "no hay datos de esa Consignacion")
                                                    {
                                                        var dtOP = dsOP.Tables[0];
                                                        foreach (System.Data.DataRow op in dtOP.Rows)
                                                        {
                                                            <tr>
                                                                <td>@op["PackageType"]</td>
                                                                <td>@op["PackageWeight"]</td>
                                                                <td>@op["PackageLength"] x @op["PackageWidth"] x @op["PackageHeight"]</td>
                                                                <td style="text-align:center;">
                                                                    <a onclick="popUpLstProds(@op["IdTracking"])"
                                                                       title="Click para ver la lista de productos asociados a la orden" class="btn btn-link">@op["IdTracking"]</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <b>Fecha de Envio</b>
                                        <div class="alert alert-warning">
                                            Vernes, 28 de mayo de 2021
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal inmodal fade" id="dlgAddProdcut" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header pt-3 pb-1">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <p>Embalaje</p>
                            </div>
                            <div class="modal-body">
                                <form id="frmCreateServicios">
                                    <table class="table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Tipo</th>
                                                <th colspan="1" id="colPeso" >Peso KG</th>
                                                <th colspan="6" style="text-align:center;">Dimensiones (cm)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="radio" checked="" value="Sobre" class="js-rate-type" id="optionsRadios1" name="optionsRadios"> Sobre</td>
                                                <td><input type="radio" value="Paquete" id="optionsRadios2" name="optionsRadios"> Paquete</td>

                                                <td><input type="text" class="form-control input-sm" placeholder="KG" id="txtKG" /></td>

                                                <td><input type="text" class="form-control input-sm" placeholder="Largo" id="txtLg" /></td>

                                                <td><input type="text" class="form-control input-sm" placeholder="Ancho" id="txtAn" /></td>

                                                @*<td><input type="text" class="form-control input-sm" placeholder="Largo" style="display:none" id="txtLargo" /></td>

                                                <td><input type="text" class="form-control input-sm" placeholder="Ancho" style="display:none" id="txtAncho" /></td>*@

                                                <td><input type="text" class="form-control input-sm" placeholder="Alto" style="display:none" id="txtAltura" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id=" btnActualizaMp" onclick="AddEmbalaje()">Asignar Guía</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>
@section scripts {

    <script type="text/javascript">
    $(document).ready(function () {
        //GetSurtidores();
        $("input[name=optionsRadios]").change(function () {
            var sobreType = $('.js-rate-type')[0];
            var paqueteType = $("input[name=optionsRadios]")[1].checked;
            $(".form-control input-sm").toggle(sobreType.checked);
            $(".form-control input-s-lg").toggle(paqueteType.checked);
            if (sobreType.checked) {
                $('#txtAltura').hide();
            }
            else {
                $('#txtAltura').show();
            }
        }).change()
        chkLst;
    });

    function AddEmbalaje() {

        var selProd = 0;
        $('input[type=checkbox][id*=chkSel_]').each(function () {
            if ($(this).is(":checked")) {
                selProd ++
            }
        });
        if (selProd == 0) {
            alert("No ha seleccionado productos");
            return;
        }
        var _txtKG = $("#txtKG").val();
        if (_txtKG.length == 0) {
            alert("Campo Peso kg vacío!");
            $("#txtKG").focus();
            return;
        }
        var _txtLg = $("#txtLg").val();
        if (_txtLg.length == 0) {
            alert("Campo Largo vacío!");
            $("#txtLg").focus();
            return;
        }
        var _txtAn = $("#txtAn").val();
        if (_txtAn.length == 0) {
            alert("Campo Ancho vacío!");
            $("#txtAn").focus();
            return;
        }
        var _txtAl = $("#txtAltura").val();
        var PackageType = "Sobre";
        var paqueteType = $("input[name=optionsRadios]")[1].checked;
        if (paqueteType.checked) {
            PackageType = "Paquete";
            if (_txtAltura.length == 0) {
                alert("Campo Altura vacío!");
                $("#txtAltura").focus();
                return;
            }
        }
        else {
            var _txtAl = "0";
            $("#txtAltura").val("0");
        }

        var IdTracking = "";
        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("SigFolioDisp", "Ordenes")',
            data: {

            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    IdTracking = json.resp;
                }
                else {
                    alert(json.Message);
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);

            }

        });

        var TrackingType = "Normal";
        var _UeNo = $("#UeNo").val();
        var _OrderNo = $("#OrderNo").val();
        var CreationId = 't_joserp';
        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("CreacionCabeceraGuia", "Ordenes")',
            data: {
                UeNo: _UeNo,
                OrderNo: _OrderNo,
                IdTracking: IdTracking,
                TrackingType: TrackingType,
                PackageType: PackageType,
                PackageLength: _txtLg,
                PackageWidth: _txtAn,
                PackageHeight: _txtAl,
                PackageWeight: _txtKG,
                CreationId: CreationId
            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    //alert("success");
                }
                else {
                    alert(json.Message);
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);

            }

        });

        var i = 0;
        $('input[type=checkbox][id*=chkSel_]').each(function () {
            if ($(this).is(":checked")) {
                row = $(this).closest("tr");
                var arrBarProd = $(row)[0].cells[0].innerText.split("\n")
                var Barcode = arrBarProd[0];
                var ProductId = arrBarProd[1];
                var ProductName = $(row)[0].cells[1].innerText;
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DetalleProdaProd", "Ordenes")',
                    data: {
                        UeNo: _UeNo,
                        OrderNo: _OrderNo,
                        IdTracking: IdTracking,
                        TrackingType: TrackingType,
                        ProductId: ProductId,
                        Barcode: Barcode,
                        ProductName: ProductName,
                        CreationId: CreationId
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            //alert(json.resp);
                        }
                        else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);

                    }

                });
            }
            i++;
        });

        $('#tblEmbalaje').append('<tr><td>' + '</td><td>' + $("#txtKG").val() + '</td><td>' + $("#txtLg").val() + ' x ' + $("#txtAn").val() + ' x ' + $("#txtAltura").val() + ' </td><td>' + IdTracking + '</td></tr>');
        $('input[type=checkbox][id*=chkSel_]').each(function () {
            if ($(this).is(":checked")) {
                this.checked = false;
            }
        });
    }

    function popEmbalaje() {
        $('#txtKG').val("");
        $('#txtLg').val("");
        $('#txtAn').val("");
        $('#txtAltura').val("");
        $('#dlgAddProdcut').modal('show');
    }

    function popUpLstProds(idTracking) {

    }

    function chkLst() {

    }

    function FinalizaEmbarque() {



        var ch = "0";
        if (document.getElementById('CheckPinPad').checked) {
            ch = "1";
        }

        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("FinalizarEmbarque", "Ordenes")',
            data: {
                //num: id

                OrderNo: document.getElementById("OrderNo").value,
                ue: document.getElementById("UeNo").value,
                store: document.getElementById("StoreNum").value,
                status: document.getElementById("OrderStatus").value,
                bolsas: document.getElementById("in_bolsas").value,
                contenedores: document.getElementById("in_contenedores").value,

                hieleras: document.getElementById("in_hieleras").value,
                checkPinPad: ch
            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {

                    window.location.href = '@Url.Content("~/ordenes/OrdenSeleccionada")';
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                bootbox.alert(errorThrown);

            }
        });

    }

    function ShowFilter() {
        $("#filter").collapse('toggle');
    };
    </script>
}

