

@{ ViewBag.Title = "Carga Manual"; }



<div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
    <h2>Manules Operativos</h2>
</div>
<div>
    <table style="width:100%;">
        <tr>
            <td style="text-align:left;padding-left:50px;">
                <h2><i></i> Tipo de Almacen:</h2>
                <div class="col-sm-2">
                    <select class="form form-control">
                        @{if (ViewBag.Owners != null)
                            {
                                var Lista = (List<ServicesManagement.Web.Models.ManualesOperativosModels>)ViewBag.Owners;
                                foreach (ServicesManagement.Web.Models.ManualesOperativosModels Item in Lista)
                                {
                                    <option value="@Item.idOwner">@Item.ownerName</option>
                                    }
                                }
                            }
                        </select>


                    </div>
                </td>
            </tr>
        </table>

    </div>




    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>}

    @using (Html.BeginForm("Save", "ManualesOperativos", FormMethod.Post,
        new { enctype = "multipart/form-data" }))

    {
        @Html.AntiForgeryToken();




        <div class="row">
            <div class="col-md-12 col-lg-offset-6">


                <div class="form-group">
                    @*@Html.LabelFor(d => d.Examinar)
                    @Html.TextBoxFor(d => d.Examinar, new { @class = "form-control", type = "file", accept = ".pdf , .docx" })
                    @Html.ValidationMessageFor(d => d.Examinar, "", new { @class = "text-danger" })*@

                </div>
                <div class="form-group" style="text-align:right;">
                    <input type="submit" class="btn btn-success" value="Cargar Manual">
                </div>
            </div>
        </div>
        <div class="row" style="height:245px;">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:right;padding-left:25px;">
                        <h2><b> Ver Manuales:</b></h2>
                        <h2><u> DST </u></h2>
                        <h2><u> DSV </u></h2>
                        <h2><u> CEDIS </u></h2>
                    </td>
                </tr>
            </table>
        </div>}

