@model IEnumerable<ServicesManagement.Web.Models.ShipmentPackingModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Ordenes Pendientes de Empacar";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/CPanel/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>WMS Cedis</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Ordenes Pendientes de Empacar</strong>
            </li>
        </ol>
    </div>
</div>
<div id="tblConsulta_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="row">
        <div class="col col-xs-6">
            @*<div class="dt-buttons btn-group flex-wrap">
                    <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Copy</span></button>
                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>CSV</span></button>
                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Excel</span></button>
                </div>*@
        </div>

        <div id="topRightSection" class="col-xs-12 col-md-6 text-right ">

            <button type="button" class="btn btn-primary" onclick="SolicitudGuia()">
                @*data-toggle="modal" data-target="#dlgCreateServicios">*@
                Solicitar Guia
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer" role="grid" style="width: 1115px;">
                <thead class="bg-primary">
                    <tr role="row">
                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Referencia</th>*@
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Cuenta</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Cantidad</th>
                        <th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Referencia 2</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Cliente</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Dirección 1</th>

                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Dirección 2</th>*@
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Colonia</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Población</th>
                        <th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Codigo Postal</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Telefono</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Contacto</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">PK</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1" name='accion'>Seleccionar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>

    </div>

</div>

@Html.Partial("SolicitarGuia")

@section scripts {
    <script type="text/javascript">
        var _json = undefined;
        var _jsonOrdenes = [];
        var _jsonPackings = [];
        var _optionsPackings = undefined;
        var _uccWithPDF = [];
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel', {
                        text: 'Excel XLS',
                        action: function (e, dt, node, config) {

                            Excel();

                        }
                    }

                    ],
                    orderCellsTop: false,
                    //fixedHeader: {
                    //    header: true
                    //},
                    "scrollX": true

                }
            );
            table1 = $("#tblSolicitud").DataTable(
                {
                    processing: false,
                    searching: false,
                    ordering: false,
                    filter: false,
                    info: false,
                    stateSave: false,
                    select: false,
                    //Paggin

                    paging: false,
                    
                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: [],
                    //fixedHeader: {
                    //    header: true
                    //},
                    "scrollX": true
                }
            );
            Get();
            GetPackings();
        });

        function GetPackings() {
            _jsonPackings = [];
             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetShipmentPackingWMS", "Catalogo")',
   
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        console.log(json);
                        for (var i = 0; i < json.json.length; i++) {
                            let _obj = {};
                            _obj.id = json.json[i].idCnscPacking + '-' + json.json[i].IdPackingCode;
                            _obj.text = json.json[i].IdPackingType;
                            _obj.ancho = json.json[i].PackageWidth;
                            _obj.largo = json.json[i].PackageLength;
                            _obj.alto = json.json[i].PackageHeight;
                            _obj.peso = json.json[i].PackageWeight;
                            
                            //alert('Insert');
                            _jsonPackings.push(_obj);

                            if (i == 0) {
                                _optionsPackings = "<option value=" + _obj.id + " >" + _obj.text + "</option>"
                            }
                            else
                                _optionsPackings += "<option value=" + _obj.id + " >" + _obj.text + "</option>"
                        }


               

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
             });

            console.log(_jsonPackings, _optionsPackings);
        }
        function ShowFilter() {
            $("#filter").collapse('toggle');
        };
        function Excel() {

            window.location = window.location.origin + '/ShipmentRequestsWMS/ExcelRequests';
        }
        function Get() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetShipmentRequestsFromWMS", "ShipmentRequestsWMS")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        var myTableR = $('#tblConsulta').DataTable();
                        myTableR
                            .clear()
                            .draw();
                        _jsonOrdenes = json.json;

                        for (var i = 0; i < json.json.length; i++) {
                            myTableR.row.add([
                                json.json[i].Cuenta,
                                json.json[i].cantidad,
                                json.json[i].referencia2,
                                json.json[i].siglasCliente,
                                json.json[i].direccion,
                                json.json[i].colonia,
                                json.json[i].poblacion,
                                json.json[i].codigoPostal,
                                json.json[i].telefono,
                                json.json[i].contacto,
                                json.json[i].ucc,
                                "<input class='form - check - input' type='checkbox' onChange='SeleccionarUCC(\"" + json.json[i].ucc + "\")' value='" + json.json[i].idShipmentWMS + "/" + json.json[i].ProductId + "/" + json.json[i].Barcode + "/" + json.json[i].UeNo + "/" + json.json[i].OrderNo + "/" + json.json[i].ucc + "' id='chkSel_" + json.json[i].idShipmentWMS + "' />"
                            ]).draw();

                        }

                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        $('#dlgCreateServicios').on('show.bs.modal', function (e) {
            //LimpiaModal();
            //Disabled();
        });
        function SeleccionarUCC(_ucc) {
            //alert('OnChange ' + _ucc);
            var item = undefined;

            if (_json != undefined)
                item = _json.find(x => x.ucc === _ucc);
            else
                _json = [];

            if (item != undefined) {
                let _index = _json.indexOf(item);
                if (_index > -1) {
                    _json.splice(_index, 1);
                }
            } else {
                var itemO = _jsonOrdenes.find(x => x.ucc === _ucc);
                let _obj = {};
                _obj.idShip = itemO.idShipmentWMS;
                _obj.productId = itemO.ProductId;
                _obj.barcode = itemO.Barcode;
                _obj.ueNo = itemO.UeNo;
                _obj.orderNo = itemO.OrderNo;
                _obj.ucc = itemO.ucc;

                _obj.cuenta = itemO.Cuenta;
                _obj.piezas = itemO.cantidad;
                _obj.referencia = itemO.referencia2;
                _obj.pk = itemO.ucc;
                _obj.tipoEmpaque = '';
                _obj.porcentaje = 0;
                _obj.ancho = 0;
                _obj.largo = 0;
                _obj.alto = 0;
                _obj.peso = 0;
                _obj.selectedValue = '';

                _json.push(_obj);
            }
            //console.log(_json);
        }

        function SolicitudGuia() {
            var selProd = _json.length;
            
            //$('input[type=checkbox][id*=chkSel_]').each(function () {
            //    if ($(this).is(":checked") && $(this).is(":disabled") == false) {
            //        selProd++
            //        row = $(this).closest("tr");
            //        //alert($(this).val());
            //        let _obj = {};
            //        _obj.idShip = $(this).val().split('/')[0];
            //        _obj.productId = $(this).val().split('/')[1];
            //        _obj.barcode = $(this).val().split('/')[2];
            //        _obj.ueNo = $(this).val().split('/')[3];
            //        _obj.orderNo = $(this).val().split('/')[4];
            //        _obj.ucc = $(this).val().split('/')[5];
                    
            //        _obj.cuenta = $(row)[0].cells[0].innerText;
            //        _obj.piezas = $(row)[0].cells[1].innerText;
            //        _obj.referencia = $(row)[0].cells[2].innerText;
            //        _obj.pk = $(row)[0].cells[10].innerText;
            //        _obj.tipoEmpaque = '';
            //        _obj.porcentaje = 0;
            //        _obj.ancho = 0;
            //        _obj.largo = 0;
            //        _obj.alto = 0;
            //        _obj.peso = 0;
            //        _obj.selectedValue = '';
            //        _json.push(_obj);
            //    }
            //});
            
            if (selProd > 0) {
                $('#dlgCreateServicios').modal('show');
                //console.log(_json);

                //$("#tblSolicitud tbody").remove();
                //$("#tblSolicitud tr").remove();
                //trTh = $('<tr/>');
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' width='100px' colspan='1'>Referencia</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' width='100px' colspan='1'>PK</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' width='120px' rowspan='1'>Tipo de Empaque</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' width='60px' rowspan='1' colspan='1'>Porcentaje</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' width='50px' rowspan='1' colspan='1'>Ancho</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' colspan='1'>Largo</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' colspan='1'>Alto</th>");
                //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' colspan='1'>Peso</th>");
                //$('#tblSolicitud').append(trTh);
                ////var tr;
                ////console.log(json);
                ////Append each row to html table
                //for (var i = 0; i < _json.length; i++) {
                //    tr = $('<tr/>');
                //    //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                //    tr.append("<td>" + _json[i].referencia + "</td>");
                //    tr.append("<td>" + _json[i].pk + "</td>");
                //    //tr.append("<td> <select class='form-control m-b' onchange='Rebind(" + _json[i].idShip + "," + _json[i].cuenta + "," + i + "," + _json[i].productId + ")' id='ddlCodigo_" + i +"'> "
                //    //    + "  <option value = 'CJA'> CJA</option><option value='STC'>STC</option><option value='SBR'>SBR</option><option value='EMB'>EMB</option></select > </td>");
                //    tr.append("<td> <select class='form-control m-b' onchange='Rebind(" + _json[i].idShip + "," + _json[i].cuenta + "," + i + "," + _json[i].productId + ")' id='ddlCodigo_" + i + "' style='width: 120px' > "
                //        + _optionsPackings + "</select></td>");

                //    tr.append("<td><input type='text' readonly id='porcentaje" + i + "' value='" + _json[i].porcentaje + "' name='porcentaje' class='form-control' style='width: 40px' /></td>");
                //    tr.append("<td><input type='text' readonly id='ancho" + i + "' value='" + _json[i].ancho + "' name='ancho' class='form-control' style='width: 60px' /></td>");
                //    tr.append("<td><input type='text' readonly id='largo" + i + "' value='" + _json[i].largo + "' name='largo' class='form-control' style='width: 60px' /></td>");
                //    tr.append("<td><input type='text' readonly id='alto" + i + "' value='" + _json[i].alto + "' name='alto' class='form-control' style='width: 60px'/></td>");
                //    tr.append("<td><input type='text' readonly id='peso" + i + "' value='" + _json[i].peso + "' name='peso' class='form-control' style='width: 60px' /></td>");
                //    $('#tblSolicitud').append(tr);

                //    $("#ddlCodigo_" + i).val('');
                //}
                var myTable4 = $('#tblSolicitud').DataTable();
                myTable4
                    .clear()
                    .draw();
                for (var i = 0; i < _json.length; i++) {
                    myTable4.row.add([
                        _json[i].referencia,
                        _json[i].pk,
                        "<select class='form-control m-b' onchange='Rebind(" + _json[i].idShip + "," + _json[i].cuenta + "," + i + "," + _json[i].productId + ")' id='ddlCodigo_" + i + "' style='width: 120px' > "
                        + _optionsPackings + "</select>",
                        "<input type='text' readonly id='porcentaje" + i + "' value='" + _json[i].porcentaje + "' name='porcentaje' class='form-control' style='width: 40px' />",
                        "<input type='text' readonly id='ancho" + i + "' value='" + _json[i].ancho + "' name='ancho' class='form-control' style='width: 60px' />",
                        "<input type='text' readonly id='largo" + i + "' value='" + _json[i].largo + "' name='largo' class='form-control' style='width: 60px' />",
                        "<input type='text' readonly id='alto" + i + "' value='" + _json[i].alto + "' name='alto' class='form-control' style='width: 60px' />",
                        "<input type='text' readonly id='peso" + i + "' value='" + _json[i].peso + "' name='peso' class='form-control' style='width: 60px' />"
                    ]).draw();

                        $("#ddlCodigo_" + i).val('');
                }
            }
        }

        function Confirmar() {
            console.log(_json);
            var jsonCopy = _json;
            var jsonConfirm = [];
            var count = 0;
            for (var x = 0; x < jsonCopy.length; x++) {
                let _obj = {};
                _obj.idShip = jsonCopy[x].idShip;
                _obj.productId = jsonCopy[x].productId;
                _obj.ueNo = jsonCopy[x].ueNo;
                _obj.orderNo = jsonCopy[x].orderNo;
                _obj.ucc = jsonCopy[x].ucc;
                _obj.barcode = jsonCopy[x].barcode;
                _obj.cuenta = jsonCopy[x].cuenta;
                _obj.referencia = jsonCopy[x].referencia;
                _obj.pk = jsonCopy[x].pk;
                _obj.piezas = jsonCopy[x].piezas;
                _obj.porcentaje = $("#porcentaje" + x).val();
                if (jsonCopy[x].tipoEmpaque != '')
                    count++;

                _obj.tipoEmpaque = jsonCopy[x].tipoEmpaque;
                _obj.ancho = $("#ancho" + x).val();
                _obj.largo = $("#largo" + x).val();
                _obj.alto = $("#alto" + x).val();
                _obj.peso = $("#peso" + x).val();
                jsonConfirm.push(_obj);
            }
            console.log(jsonConfirm);
            if (jsonCopy.length == count) {
                //alert('Guardarrr');

                console.log(jsonConfirm);
                    //Send the JSON array to Controller using AJAX.
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("AddEmbalajePendiente", "Ordenes")',
                            data: JSON.stringify({
                                Paquetes: jsonConfirm

                            }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (json) {
                                if (json.Success)
                                    location.reload();
                                else
                                    alert(json.Message);
                            }
                            , error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);

                            }
                        });
                
            }
            else
                alert('Los datos estan Incompletos');
        }

        function UCCProcessed(_ucc) {

                       $.ajax({
                            type: "GET",
                            url: '@Url.Action("UCCProcessed", "ShipmentRequestsWMS")',
                           data: {
                               ucc: _ucc
                           },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (json) {
                                if (!json.Success) {

                                    alert(json.Message);
                                    //alert(json.resp);
                                }


                            }
                            , error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);

                            }
                        });
        }

        function Rebind(idShip, cuenta, index, productId) {
            var selectVal = $("#ddlCodigo_" + index).val();
            console.log('entra', idShip, cuenta, index, selectVal);
            var jsonCopy = _json;
            var _code = selectVal.split('-')[1];
            var _ancho;
            var _largo;
            var _alto;
            var _peso;
            _json = [];
            //if (_code == 'EMB' || _code == 'STC') {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetShipmentPackingWMSByCode", "ShipmentRequestsWMS")',
                    data: {
                        code: _code,
                        productId: productId
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            if(_code == 'EMB' || _code == 'STC') {
                                _ancho = json.json[0].ANCHO;
                                _largo = json.json[0].LARGO;
                                _alto = json.json[0].ALTO;
                                _peso = json.json[0].PESO;
                            }
                            else {
                                var valores = _jsonPackings.find(x => x.id == selectVal);
                                _ancho = valores.ancho;
                                _largo = valores.largo;
                                _alto = valores.alto;
                                _peso = json.json[0].PESO;
                            }
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            //} else {
            //    var valores = _jsonPackings.find(x => x.id == selectVal);
            //    _ancho = valores.ancho;
            //    _largo = valores.largo;
            //    _alto = valores.alto;
            //    _peso = valores.peso;
            //}

            for (var x = 0; x < jsonCopy.length; x++) {
                let _obj = {};
                _obj.idShip = jsonCopy[x].idShip;
                _obj.cuenta = jsonCopy[x].cuenta;
                _obj.productId = jsonCopy[x].productId;
                _obj.ueNo = jsonCopy[x].ueNo;
                _obj.orderNo = jsonCopy[x].orderNo;
                _obj.ucc = jsonCopy[x].ucc;
                _obj.barcode = jsonCopy[x].barcode;
                _obj.referencia = jsonCopy[x].referencia;
                _obj.pk = jsonCopy[x].pk;
                _obj.piezas = jsonCopy[x].piezas;
                _obj.porcentaje = 0;
                
                if (jsonCopy[x].idShip == idShip && jsonCopy[x].cuenta == cuenta) {
                    _obj.tipoEmpaque = _code;
                    _obj.ancho = _ancho;
                    _obj.largo = _largo;
                    _obj.alto = _alto;
                    _obj.peso = _peso;
                    _obj.selectedValue = selectVal;
                }
                else {
                    _obj.tipoEmpaque = jsonCopy[x].tipoEmpaque;
                    _obj.ancho = jsonCopy[x].ancho;
                    _obj.largo = jsonCopy[x].largo;
                    _obj.alto = jsonCopy[x].alto;
                    _obj.peso = jsonCopy[x].peso;
                    _obj.selectedValue = jsonCopy[x].selectedValue;
                }
                //alert('Insert');
                _json.push(_obj);
            }


            //$("#tblSolicitud tbody").remove();
            //$("#tblSolicitud tr").remove();
            //trTh = $('<tr/>');
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' width='100px' colspan='1'>Referencia</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' width='100px' colspan='1'>PK</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' width='120px' rowspan='1'>Tipo de Empaque</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' width='60px' rowspan='1' colspan='1'>Porcentaje</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' width='50px' rowspan='1' colspan='1'>Ancho</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' colspan='1'>Largo</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' colspan='1'>Alto</th>");
            //trTh.append("<th class='sorting' tabindex='0' aria-controls='tblConsulta' rowspan='1' colspan='1'>Peso</th>");
            //$('#tblSolicitud').append(trTh);
            ////var tr;
            ////console.log(json);
            ////Append each row to html table
            //for (var i = 0; i < _json.length; i++) {
            //    tr = $('<tr/>');
            //    tr.append("<td>" + _json[i].referencia + "</td>");
            //    tr.append("<td>" + _json[i].pk + "</td>");

            //    tr.append("<td> <select class='form-control m-b' onchange='Rebind(" + _json[i].idShip + "," + _json[i].cuenta + "," + i + "," + _json[i].productId + ")' id='ddlCodigo_" + i + "' style='width: 120px' > "
            //        + _optionsPackings + "</select></td>");

            //    if (_json[i].tipoEmpaque == 'EMB') {
            //        tr.append("<td><input type='text' id='porcentaje" + i + "' value='" + _json[i].porcentaje + "' name='porcentaje' class='form-control' style='width: 40px' /></td>");
            //    }
            //    else {
            //        tr.append("<td><input type='text' readonly id='porcentaje" + i + "' value='" + _json[i].porcentaje + "' name='porcentaje' class='form-control' style='width: 40px' /></td>");
            //    }

            //    tr.append("<td><input type='text' readonly id='ancho" + i + "' value='" + _json[i].ancho + "' name='ancho' class='form-control' style='width: 60px' /></td>");
            //    tr.append("<td><input type='text' readonly id='largo" + i + "' value='" + _json[i].largo + "' name='largo' class='form-control' style='width: 60px' /></td>");
            //    tr.append("<td><input readonly type='text' id='alto" + i + "' value='" + _json[i].alto + "' name='alto' class='form-control' style='width: 60px'/></td>");
            //    tr.append("<td><input readonly type='text' id='peso" + i + "' value='" + _json[i].peso + "' name='peso' class='form-control' style='width: 60px' /></td>");

            //    $('#tblSolicitud').append(tr);

            //    $("#ddlCodigo_" + i).val(_json[i].selectedValue);
            //}

            var myTable4 = $('#tblSolicitud').DataTable();
            myTable4
                .clear()
                .draw();
            for (var i = 0; i < _json.length; i++) {
                myTable4.row.add([
                    _json[i].referencia,
                    _json[i].pk,
                    "<select class='form-control m-b' onchange='Rebind(" + _json[i].idShip + "," + _json[i].cuenta + "," + i + "," + _json[i].productId + ")' id='ddlCodigo_" + i + "' style='width: 120px' > "
                    + _optionsPackings + "</select>",
                    "<input type='text' readonly id='porcentaje" + i + "' value='" + _json[i].porcentaje + "' name='porcentaje' class='form-control' style='width: 40px' />",
                    "<input type='text' readonly id='ancho" + i + "' value='" + _json[i].ancho + "' name='ancho' class='form-control' style='width: 60px' />",
                    "<input type='text' readonly id='largo" + i + "' value='" + _json[i].largo + "' name='largo' class='form-control' style='width: 60px' />",
                    "<input type='text' readonly id='alto" + i + "' value='" + _json[i].alto + "' name='alto' class='form-control' style='width: 60px' />",
                    "<input type='text' readonly id='peso" + i + "' value='" + _json[i].peso + "' name='peso' class='form-control' style='width: 60px' />"
                ]).draw();

                $("#ddlCodigo_" + i).val(_json[i].selectedValue);
            }

       }

        function LimpiaModal() {
            $("#ddlCodigo").val('');
            $("#tipoEmpaque").val('');
            $("#largo").val('');
            $("#ancho").val('');
            $("#alto").val('');
            $("#peso").val('');

            $("#ddlEstatus").val("1");
            $("#idCnscPacking").val(0);
        }
    </script>

}
