
@{
    ViewBag.Title = "Actualizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h2>Administración de Contenido</h2>
                    </div>
                </div>
                <div class="row" style="height:490px;">
                    <table style="width:100%;padding-top:50px;">
                        <!-- cambio -->
                        <tr>
                            <td></td>
                            <td style="text-align:center;padding-left:50px;">
                                <h3> Añadir Contenido</h3><br />
                                <br />
                                <img src="~/Content/images/theme/folder.png" style="width:140px;height:110px;" />
                                <br />
                                <div class="col-sm-8">
                                    <br />
                                    <div class="custom-file">
                                        <input id="FileUpload1" type="file" class="custom-file-input" accept=".xls,.xlsx,.csv">
                                        <label for="FileUpload1" class="custom-file-label">Seleccionar Archivo...</label>
                                    </div>
                                    <input type="button" class="btn btn-success btn-file" id="btnUpload" value="Subir Archivo" />
                                </div>
                            </td>
                            <td style="text-align:right;padding-left:50px;">
                                <h3> Plantillas </h3>

                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(1)"
                                   title="Click para ver el Formato Alta de Productos - Alimentos Preparados y Panaderia" class="link"><u>Formato Alta de Productos - Alimentos Preparados y Panaderia</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(2)"
                                   title="Click para ver el Formato Alta de Productos - Bebes, Accesorios" class="link"><u>Formato Alta de Productos - Bebes, Accesorios</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(3)"
                                   title="Click para ver el Formato Alta de Productos - Bebes, Blancos" class="link"><u>Formato Alta de Productos - Bebes, Blancos</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(4)"
                                   title="Click para ver el Formato Alta de Productos - Bebes, Muebles" class="link"><u>Formato Alta de Productos - Bebes, Muebles</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(5)"
                                   title="Click para ver el Formato Alta de Productos - Bebes, Ropa" class="link"><u>Formato Alta de Productos - Bebes, Ropa</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(6)"
                                   title="Click para ver el Formato Alta de Productos - Calzado" class="link"><u>Formato Alta de Productos - Calzado</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(7)"
                                   title="Click para ver el Formato Alta de Productos - Carnicos empacados y granel" class="link"><u>Formato Alta de Productos - Carnicos empacados y granel</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(8)"
                                   title="Click para ver el Formato Alta de Productos - Frutas verduras y ensaladas" class="link"><u>Formato Alta de Productos - Frutas verduras y ensaladas</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(9)"
                                   title="Click para ver el Formato Alta de Productos - Lacteos" class="link"><u>Formato Alta de Productos - Lacteos</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(10)"
                                   title="Click para ver el Formato Alta de Productos - Moda Joyeria" class="link"><u>Formato Alta de Productos - Moda Joyeria</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(11)"
                                   title="Click para ver el Formato Alta de Productos - Moda Lentes" class="link"><u>Formato Alta de Productos - Moda Lentes</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(12)"
                                   title="Click para ver el Formato Alta de Productos - Moda Otros Accesorios" class="link"><u>Formato Alta de Productos - Moda Otros Accesorios</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(13)"
                                   title="Click para ver el Formato Alta de Productos - Moda Relojes" class="link"><u>Formato Alta de Productos - Moda Relojes</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(14)"
                                   title="Click para ver el Formato Alta de Productos - Ropa" class="link"><u>Formato Alta de Productos - Ropa</u></a>
                                <br />
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(15)"
                                   title="Click para ver el Formato Alta de Productos - Salchichoneria y Congelados" class="link"><u>Formato Alta de Productos - Salchichoneria y Congelados</u></a>

                            </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function popUpShowPDF(txtValor) {

            switch (txtValor) {
                case 1:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Alimentos_Preparados_y_Panaderia.xlsx";
                    break;
                case 2:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Bebes_Accesorios.xlsx";
                    break;
                case 3:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Bebes_Blancos.xlsx";
                    break;
                case 4:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Bebes_Muebles.xlsx";
                    break;
                case 5:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Bebes_Ropa.xlsx";
                    break;
                case 6:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Calzado.xlsx";
                    break;
                case 7:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Carnicos_empacados_y_granel.xlsx";
                    break;
                case 8:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Frutas_verduras_y_ensaladas.xlsx";
                    break;
                case 9:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Lacteos.xlsx";
                    break;
                case 10:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Moda_Joyeria.xlsx";
                    break;
                case 11:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Moda_Lentes.xlsx";
                    break;
                case 12:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Moda_Otros_Accesorios.xlsx";
                    break;
                case 13:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Moda_Relojes.xlsx";
                    break;
                case 14:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Ropa.xlsx";
                    break;
                case 15:
                    var url2 = '@Url.Content("~/").ToString()' + "Files/Formato_Alta_de_Productos_Salchichoneria_y_Congelados.xlsx";
                    break;
            }

            @*if (txtValor == 1) {
                var url2 = '@Url.Content("~/").ToString()' + "Files/Plantilla_Contenido-A.xlsx";
            }
            else {
            var url2 = '@Url.Content("~/").ToString()' + "Files/Plantilla_Contenido-B.xlsx";
            }*@
            window.open(url2);
        }

        $('#docInv').on('change', function () {
            var fileReader = new FileReader();
            fileReader.onload = function () {
                document.getElementById('docInvout').innerHTML = fileReader.result; // data <-- in this var you have the file data in Base64 format
                var servername = window.location.origin;
                var fileUpload = $("#docInvout").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                    var nameext = files[i].name.split(".");
                }

                fileData.append('extension', nameext[1]);
                fileData.append('servername', servername);

                $.ajax({
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    url: '@Url.Action("UploadFiles", "Actualizaciones")',
                    data: {
                        ArchivoCSV: document.getElementById('docInvout').innerHTML,
                        servername: servername
                    },
                    datatype: "html",
                    success: function (json) {
                        debugger;
                        if (json.Success) {
                            $("#docInvout").val("");
                            location.reload();
                        }
                        else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                        location.reload();
                    }

                });
            };
            fileReader.readAsText($('#docInv').prop('files')[0]);
            console.log(fileReader);
        });

        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        $(document).ready(function () {
            $('#btnUpload').click(function () {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var servername = window.location.origin;
                    var fileUpload = $("#FileUpload1").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                        var nameext = files[i].name.split(".");
                    }

                    // Adding one more key to FormData object
                    fileData.append('servername', servername);
                    fileData.append('nombre', nameext[0]);
                    fileData.append('extension', nameext[1]);


                    $.ajax({
                        // url: '/ManualesOperativos/UploadFiles',
                        url: '@Url.Action("UploadFiles", "Actualizaciones")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            alert(result);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });

    </script>
}