
@{ ViewBag.Title = "Historial"; }




<h2>Historial</h2>



@*NVScambio*@

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="form-group">
            <label>Fecha Inicio</label>
            @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
            <div class="input-group date" id="datetimepicker1">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control datepicker" id="txtFecIni"
                       type="text" value="@ViewBag.FecIni">
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <label>Fecha Fin</label>
        @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
        <div class="input-group date" id="datetimepicker2">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control datepicker" id="txtFecFin"
                   type="text" value="@ViewBag.FecFin">
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <label>Número de Orden</label>
        <input type="text" placeholder="Número de Orden" id="OrderSelected" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
        <label>&nbsp;</label>
        <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetHistorialRMA()">
            Buscar
        </button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th name="accion" style="width:10%;"> </th>
                        <th>Orden</th>
                        <th>Almacen</th>
                        <th>Fec Entrega</th>
                        <th>Tipo Entrega</th>
                        <th>Tienda</th>
                        <th>Descipcion Tienda</th>
                        <th>Inicia Surtido</th>
                        <th>Fin Surtido</th>
                        <th>Inicio Cobro</th>
                        <th>Finaliza Cobro</th>
                        <th>Forma Entrega</th>
                        <th>Medio Envio</th>
                        @*<th>Consignacion de Reenvio/Sustituto/Cambio Fisico</th>*@
                        @*<th>Guia de devolucion</th>*@
                        @*<th>Estatus de la Guia de Devolucion</th>*@
                        @*<th>Guia de reenvio</th>*@
                        @*<th>Estatus de Guía de Reenvio</th>*@
                        @*<th class="sorting">Motivo de no recolección</th>*@
                        @*<th name='accion'></th>*@
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@*NVScambio*@

@*@Html.Partial("RMA")*@
<div class="modal inmodal fade" id="dlgRma" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">RMA</h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <input type="hidden" id="hddOrderId" />
                    <input type="hidden" id="hddUeType" />
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div id="wizard">
                                <h3>Detalle de Orden</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-xs-4 col-md-4 col-lg-4">
                                            <select class="form-control" id="cmbServicio" name="cmbServicio">
                                                @*<option selected="selected" value="1">Devolución</option>*@
                                                <option selected="selected" value="2">Reembolso</option>
                                                <option selected="selected" value="3">Cambio Fisico</option>
                                                <option selected="selected" value="4">Reenvio</option>
                                                <option selected="selected" value="5">Cancelación</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-5 col-md-5 col-lg-5">
                                            <select class="form-control" name="cancelReason" id="cancelReason">
                                                <option value="0">
                                                    Por favor, seleccione un motivo
                                                </option>

                                                <option value="Cambio de producto">Cambio de producto</option>

                                                <option value="Duplicó orden">Duplicó orden</option>

                                                <option value="Error en descripción o imagen">Error en descripción o imagen</option>

                                                <option value="Gusto del cliente">Gusto del cliente</option>

                                                <option value="Mejor precio en competencia">Mejor precio en competencia</option>

                                                <option value="No aplica cupón">No aplica cupón</option>

                                                <option value="No aplicó la promoción">No aplicó la promoción</option>

                                                <option value="No aplicó MSI">No aplicó MSI</option>

                                                <option value="No está de acuerdo con el tiempo de entrega">No está de acuerdo con el tiempo de entrega</option>

                                                <option value="No estará en domicilio">No estará en domicilio</option>

                                                <option value="Orden no pagada en tienda">Orden no pagada en tienda</option>

                                                <option value="Retraso de entrega">Retraso de entrega</option>

                                                <option value="other">
                                                    Otros
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-12">
                                            <table id="tblDetalle" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                                                <thead class="bg-danger-sor">
                                                    <tr role="row">
                                                        <th class="text-center sorting"></th>
                                                        <th class="text-center sorting"></th>
                                                        <th class="text-center sorting">Descripción</th>
                                                        <th class="text-center sorting">Cantidad</th>
                                                        <th class="text-center sorting">Precio</th>
                                                        <th class="text-center sorting">Subtotal</th>
                                                        <th class="text-center sorting">Cantidad Devuelta</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3"></td>
                                                        <td><b>Costo total de la orden</b></td>
                                                        <td><b>$</b><b id="lblTotalDetalle">399.00</b></td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </section>
                                <h3>Generar Caso de Usuario</h3>
                                <section>
                                    <p>Para generar el Caso de Usuario, dar click en Siguiente.</p>
                                    <p>El sistema le generara un folio de caso de usuario.</p>
                                    @*<p>
                                        Se envia a proceso de autorizacion para su seguimiento. Favor de validar en la su status en la pestaña de seguimiento RMA.
                                    </p>
                                    <p>Dar click para generar la solicitud en el boton de finalizar</p>*@
                                </section>


                                <h3>Finalizar</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-12">
                                            <b>Url del Cliente:</b>

                                            <div class="alert alert-danger">
                                                <h2 id="lblUrlClient"></h2>
                                            </div>

                                        </div>
                                    </div>
                                    <hr />
                                    @*<div class="row">
                <div class="col-xs-6 col-md-6 col-lg-6"><input type="text" class="form-control input-sm" placeholder="Comentarios de la Imagen" /> </div>
                <div class="col-xs-6 col-md-6 col-lg-6"><input type="file" /> </div>
            </div>*@

                                </section>

                            </div>

                        </div>
                    </div>
                </form>
            </div>

            @*<div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                </div>*@
        </div>
    </div>
</div>
@section scripts {


    <link href="~/Content/Inspinia/Styles/steps/jquery.steps.css" rel="stylesheet" />
    <script src="~/Content/Inspinia/plugins/steps/jquery.steps.min.js"></script>
    
    <script>


       /* NVS*/
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });

        });

       function GetHistorialRMA() {

            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();
            var _OrderId = $("#OrderSelected").val();


            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }


            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GethistorialRMA", "CallCenter")',
                data: {
                      FecIni: _FecIni,
                    FecFin: _FecFin,
                    OrderId: _OrderId
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {




                        var myTable = $('#tblConsulta').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {


                            myTable.row.add([
                                /*json.resp[i].NroAlmacen,*/
                                "<button onclick='GenerarRma(" + json.resp[i].OrderNo + ",\"" + json.resp[i].UeType+ "\")' type='button' class='btn btn-danger btn btn-xs'  title='Click para generar RMA a la orden'> Casos de Cliente</button>",
                                "<a href='CallCenter/ConsultaDetalle?order=" + json.resp[i].OrderNo + "' title='Click para ir al proveedor' class='link-primary' ><u>" + json.resp[i].OrderNo + "</u>",
                                json.resp[i].UeType,
                                json.resp[i].DeliveryDate,
                                json.resp[i].DeliveryType,
                                json.resp[i].StoreNum,
                                json.resp[i].StoreDescription,
                                json.resp[i].SupplyStarted,
                                json.resp[i].SupplyCompleted,
                                json.resp[i].PaymentStart,
                                json.resp[i].PaymentCompleted,
                                json.resp[i].DeliveryMethod,
                                json.resp[i].ShippingType

                                //json.resp[i].OrderDate,
                                //json.resp[i].UeType
                                /*json.resp[i].FechaEntrega*/

                            ]).draw();
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }



        $(document).ready(function () {


            //$("#cmbServicio").change(function () {
            //    //if()()
            //    //$("#cancelReason").css("display", "none");
            //});
      /*      $("#cancelReason").css("display", "none");*/

            $("#wizard").steps({
                labels: {
                    current: "current step:",
                    pagination: "Pagination",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Atras"

                },
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true
                // stepsOrientation: "vertical"
                //, onInit: function (event, current) {
                //   // $('.actions > ul > li:first-child').attr('style', 'display:none');
                //    alert("");
                //}
                , onStepChanged: function (event, currentIndex, newIndex) {
                    currentStep = currentIndex; //Set current step number in currentStep variable

                    if (currentIndex === 2 ) //If in second step and checkbox not checked then display Finish button and hide Next button
                    {
                        $('a[href="#finish"]').parent().attr("style", "display: block;")
                        $('a[href="#next"]').parent().attr("style", "display: none;");
                    }
                }
                , onStepChanging: function (event, currentIndex, newIndex) {


                    if (currentIndex == 0) {

                        if ($("#cancelReason").val() == '0') {
                            $("#cancelReason").focus();

                            alert('Por favor, seleccione un motivo');
                            return false;
                        }


                        //if ($("#cmbServicio").val() != '5') {
                            var table = document.getElementById("tblDetalle");
                            var checkboxes = table.querySelectorAll('input[type=checkbox]');
                            //var val = checkboxes[0].checked;
                            var check = false;
                            var cantOk = true;

                            for (var i = 0; i < checkboxes.length; i++) {

                                if (checkboxes[i].checked) {
                                    check = true;
                                }
                            }

                            if (!check) {
                                alert('Por favor, debe seleccionar un articulo');
                                return false;
                            }

                            for (var i = 0; i < checkboxes.length; i++) {

                                var id = checkboxes[i].value;

                                var idnCant = 'nCant-' + id;
                                var idCant = 'Cant-' + id;
                                debugger;
                                if (checkboxes[i].checked) {


                                    var can = $("#" + idCant).val();
                                    var nCan = $("#" + idnCant).val();
                                    debugger;
                                    if (parseFloat(nCan) > parseFloat(can) ) {
                                        cantOk = false;
                                        break;
                                    }
                                    if (parseFloat(nCan) > parseFloat(0)) {
                                        cantOk = true;
                                        /* break;*/
                                    } else {
                                        cantOk = false;
                                    }


                                } else {
                                    $("#" + idnCant).val("0.00");
                                }


                            }

                            if (!cantOk) {
                                alert("La cantidad a devolver no puede ser menor a 0  ni mayor a la cantidad pedida");
                                return false;
                            }
                        //}

                        //if ($("#hddUeType").val() == "SETC")
                        //    $('#wizard-t-1').click();
                    }

                    //if (currentIndex == 1) {
                    //    alert("");
                    //    if ($("#hddUeType").val() == "SETC")
                    //        wizard.steps("setStep", 2);
                    //}

                    if (currentIndex == 1) {
                        Finalizar();
                        return true;
                    }


                    if (currentIndex == 2) {
                        return false;
                    }

                     return true;
                }
                , onFinished: function (event, currentIndex) {
                   // Finalizar();
                   
                    location.reload();
                }
            });


            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });


            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel', {
                        text: 'Excel XLS',
                        action: function (e, dt, node, config) {

                            Excel('xls');

                        }
                    }

                    ],
                    orderCellsTop: false,
                    //fixedHeader: {
                    //    header: true
                    //},
                    "scrollX": true

                }
            );


            var oTable = $('#tblDetalle').DataTable({
                columnDefs: [
                    {
                        className: 'text-right', targets: [3, 4, 5], "width": "10%"
                    },
                    { className: 'text-center', targets: [0], "width": "1%" },

                ]
            });

            GetHistorialRMA();
        });


        function GenerarRma(OrderId, UeType) {

            $("#hddOrderId").val(OrderId);
            $("#hddUeType").val(UeType);
                 $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetDetalleRma", "CallCenter")',
                data: {

                    OrderId: OrderId
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {




                        var myTable = $('#tblDetalle').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {
                            var nCant = "0.00";
                            var disab = "";
                            var check = "";

                            if (UeType == "SETC") {
                                nCant = json.resp[i].Quantity;
                                disab = "Disabled";
                                check = "checked";
                            }
                            //<img class="image" src="json.ArticuloFoto" width=90 height=90>
                            myTable.row.add([
                                '<input type="checkbox" onclick="ValidaProducto(1)" value="' + json.resp[i].ProductId + '" class="checkbox" ' + check + '  '+disab +' />',
                                '<img class="image" src="' + json.resp[i].ArticuloFoto + '" width=90 height=90>',
                                json.resp[i].ProductName,
                                json.resp[i].Quantity + "<input type='text' style='display:none;' disabled readonly class='form-control' id='Cant-" + json.resp[i].ProductId + "' disabled value='" + json.resp[i].Quantity + "' />",
                                '$'+ json.resp[i].Price,
                                '$'+json.resp[i].SubTotal,
                                "<input type='number' oninput='input(this)'    id='nCant-" + json.resp[i].ProductId + "' value='" + nCant + "' class='form-control input-sm' " + disab+" />"

                            ]).draw();
                        }

                        //lblTotalDetalle

                        $("#lblTotalDetalle").text(json.total)

                        //$("#lblUrlClient").text(json.url)

                        if (UeType == "SETC") {
                            $("#cmbServicio").val("5");
                            $('#cmbServicio').prop('disabled', true);

                            $('.actions > ul > li:first-child').attr('style', 'display:none');
                        } else {
                            $("#cmbServicio").val("2");
                            $('#cmbServicio').prop('disabled', false);
                        }

                        $('#dlgRma').modal('toggle');
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });




        }

        var delayTimer;
        function input(ele) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                ele.value = parseFloat(ele.value).toFixed(2).toString();
            }, 1100);
        }

        function input2(ele) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                ele.value = parseFloat(ele.value).toFixed(0).toString();
            }, 1100);
        }


        function ValidaProducto(v) {
            // Get the checkbox
            //var checkBox = document.getElementById("myCheck");
            //// Get the output text
            //var text = document.getElementById("text");

            //// If the checkbox is checked, display the output text
            //if (v == 1) {
            //    alert("El articulo no cumple con las condiciones");
            //}
        }

        function Finalizar() {
            var _OrderId = $("#hddOrderId").val();
            var _UeType = $("#hddUeType").val();
            var _accion = $("#cmbServicio").val();
            var _desc = $("#cancelReason").val();


            var list = new Array();
            var table = document.getElementById("tblDetalle");
            var checkboxes = table.querySelectorAll('input[type=checkbox]');
            for (var i = 0; i < checkboxes.length; i++) {
                var item = {};
                var id = checkboxes[i].value;

                var idnCant = 'nCant-' + id;
                var idCant = 'Cant-' + id;
                debugger;
                if (checkboxes[i].checked) {


                    item.NewQuantity = $("#" + idnCant).val();
                    item.ProductId = id;
                    list.push(item);
                }


            }

            debugger;



               $.ajax({
                async: false,
                type: "POST",
                   url: '@Url.Action("FinalizarRma", "CallCenter")',
                   data: JSON.stringify({

                        OrderId: _OrderId,
                        Operacion: _accion,
                        Desc: _desc,
                        Products: list,
                       UeType: _UeType,
                   }),

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    if (json.Success) {

                        //location.reload();
                    }
                    else {
                        alert(json.Message);
                    }
                    $("#lblUrlClient").text(json.url);
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert(errorThrown);
                }

            });
        }


        function Excel(op) {
            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();

            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }


            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }
            window.location = window.location.origin + '/Consignaciones/ExcelConsignacionesProveedor?op=' + op + '&FecIni=' + _FecIni + '&FecFin=' + _FecFin;
        }


        /*NVS*/


    </script>


}

