@header
<div style="min-width: 600px; width: 72.5%; margin: 0 auto 16px; min-height: 400px; color: #666666;">
    <p style="font-size: 25px; letter-spacing: 0px;">
        <span style="font-size: 26px; font-weight: bold; letter-spacing: 0px; margin: 0 6px 20px 0;">¡Hola @customer_first_name,</span>
        <br>
        <br>
        <span style="font-size: 19px;  margin: 0 6px 20px 0;">
            La solicitud para devolucíon de tu pedido <font color="BBBE2F"><u>@idCancelacion </u></font>del pedido <font color="BBBE2F">
                <b>
                    @pedido
                </b>
            </font> ha sido aplicada <b> Detalle de la devolución:</b>
        </span>


        <br><br><br>

        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

                .tg td {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg th {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg .tg-zv4m {
                    border-color: #ffffff;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-t0vf {
                    border-color: #ffffff;
                    font-size: 100%;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-8s30 {
                    background-color: #efefef;
                    border-color: #efefef;
                    color: #c0c0c0;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-fkgn {
                    background-color: #efefef;
                    border-color: #efefef;
                    text-align: left;
                    vertical-align: top
                }

            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

                .tg td {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg th {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg .tg-oe15 {
                    background-color: #ffffff;
                    border-color: #ffffff;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-4ez0 {
                    background-color: #efefef;
                    border-color: #efefef;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: top
                }

                .tg .tg-fkgn {
                    background-color: #efefef;
                    border-color: #efefef;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-c1kk {
                    background-color: #ffffff;
                    border-color: #ffffff;
                    text-align: right;
                    vertical-align: top
                }
        </style>

        <style type="text/css">
            li {
                list-style: none;
            }

                li:before {
                    content: '\2022';
                    For a square bullet content:'\25A0';
                    display: block;
                    position: relative;
                    max-width: 0px;
                    max-height: 0px;
                    left: -20px;
                    top: -10px;
                    color: BBBE2F;
                    font-size: 35px;
                }
        </style>

        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="vertical-align:top; width:70%">
                        <table class="tg" style="width:100%">
                            <tr>
                                <td class="tg-8s30" rowspan="@totalMergeRows"></td>
                                <td class="tg-fkgn" colspan="4">Producto devuelto</td>
                                <td class="tg-fkgn" rowspan="@totalMergeRows"></td>
                            </tr>

                            @tabla_articulos
                            <tr>
                                <td class="tg-8s30" colspan="4"></td>
                            </tr>
                        </table>

                    </td>
                    <td valign=top>
                        <!-- otra tabla -->
                        <table class="tg">
                            <thead>

                                <tr>
                                    <th class="tg-4ez0" colspan="4">Total de orden</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tg-fkgn" rowspan="8"></td>
                                    <td class="tg-oe15" rowspan="2">No. Artículos<br></td>
                                    <td class="tg-c1kk" rowspan="2">@tot_arti</td>
                                    <td class="tg-fkgn" rowspan="8"></td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td class="tg-oe15">Subtotal</td>
                                    <td class="tg-c1kk">@subTotal</td>
                                </tr>

                                <tr>
                                    <td class="tg-oe15">Envio</td>
                                    <td class="tg-c1kk">@envio</td>
                                </tr>
                                <tr>
                                    <td class="tg-oe15"><span style="font-weight:bold">Total a devolver</span><br></td>
                                    <td class="tg-c1kk">@total</td>
                                </tr>

                                <tr>
                                    <td class="tg-oe15" colspan="2">Incluye impuestos aplicables</td>
                                </tr>
                                <tr>
                                    <td class="tg-fkgn" colspan="4"></td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    <p style="font-size: 19px; letter-spacing: 0px;">
        <span style="font-size: 20px; font-weight: bold; letter-spacing: 0px; margin: 0 6px 20px 0;">Importe retenido en tu tarjeta o Wallet,</span>

        <ul>
            <span style="font-size: 19px;  margin: 0 6px 20px 0;">
            <li type="disc">
                Ya Hemos solicitado a tu banco el abono del monto de tu compra con la referencia <b> xxxxxx número de autorización</b>. El banco
                deberá acreditarlo en un plazo no mayor a 30 días naturales de acuerdo a las políticas de cada institución Bancaria. Para mayor información,
                te sugerimos contactar a tu banco
            </li>
            </span>
        </ul>

        <ul>
            <span style="font-size: 19px;  margin: 0 6px 20px 0;">
            <li type="disc">Si utilizaste saldos del Programa de Recompensas Soriana, se verá abonado en tu cuenta en las próximas 48 horas
        </ul>

        <ul>

            <span style="font-size: 19px;  margin: 0 6px 20px 0;">
            <li { color: #0F0;} type="disc">
                Los tiempos mencionados se consideran a partir de la recepción de este correo
                </span>
        </ul>



    </p>
</div>
@footer

