@model ServicesManagement.Web.Models.Almacenes.AltaProveedor

@{ ViewBag.Title = "Alta de Almacenes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string dsv = string.Empty;
    if (ViewBag.Dsv) { dsv = "disabled"; }

}


<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h2> Alta de Almacenes</h2>
                    </div>
                </div>
                <div class="row">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Número de Proveedor
                            </td>
                            <td>
                                @Html.TextBox("txtNumPro", Model.idSupplierWH, new
                                    {
                                    @class = "form-control ;",
                                    @onkeydown = "javascript:onkeydown_busqueda(event)"
                                    })
                            </td>
                            <td style="width:15%;text-align:center;">
                                Nombre de Proveedor
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtNomPro" value="@Model.supplierName" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"><hr /></td>
                        </tr>
                    </table>
                    <table style="width:100%;">
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Tipo de Operacón
                            </td>
                            <td style="width:35%;text-align:center;">
                                <select id="ddlOperations" class="form-control">
                                    @{if (ViewBag.Operations != null)
                                        {
                                            var Lista = (List<ServicesManagement.Web.Models.Almacenes.SuppliersWHOperations>)ViewBag.Operations;
                                            foreach (ServicesManagement.Web.Models.Almacenes.SuppliersWHOperations Item in Lista)
                                            {
                                                if (Model.idOperType == Item.idOperType)
                                                {
                                                    <option selected="selected" value="@Item.idOperType">@Item.OperTypeDesc</option>
}
                                                else
                                                {
                                                    <option value="@Item.idOperType">@Item.OperTypeDesc</option>
}

                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Tipo de Envío
                            </td>
                            <td style="width:35%;text-align:center;">
                                <select id="ddlShipments" class="form-control">
                                    @{if (ViewBag.Shipments != null)
                                        {
                                            var Lista = (List<ServicesManagement.Web.Models.Almacenes.SuppliersWHShipments>)ViewBag.Shipments;
                                            foreach (ServicesManagement.Web.Models.Almacenes.SuppliersWHShipments Item in Lista)
                                            {

                                                if (Model.idShipType == Item.idShipType)
                                                {
                                                    <option selected="selected" value="@Item.idShipType">@Item.ShipTypeDesc</option>
}
                                                else
                                                {
                                                    <option value="@Item.idShipType">@Item.ShipTypeDesc</option>
}
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">
                                ¿Envía vehículos de motor?
                            </td>
                            <td style="width:35%;text-align:left;">
                                @if (Model.bitVehicles)
                                {<input type="checkbox" id="chVehiculo" checked class="checkbox" />}
                                else
                                { <input type="checkbox" id="chVehiculo" class="checkbox" />}

                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr /></td>
                        </tr>
                    </table>
                    <table style="width:100%;">
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Tipo Almacén
                            </td>
                            <td>

                                <select class="form-control m-b" id="lstIdAlmacen" @dsv>
                                    @{if (ViewBag.Owners != null)
                                        {
                                            var Lista = (List<ServicesManagement.Web.Models.Almacenes.Owners>)ViewBag.Owners;
                                            foreach (ServicesManagement.Web.Models.Almacenes.Owners Item in Lista)
                                            {
                                                if (ViewBag.Dsv)
                                                {
                                                    if (Item.idOwner == 4)
                                                    {
                                                        <option selected="selected" value="@Item.idOwner">@Item.ownerName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Item.idOwner">@Item.ownerName</option>
}
                                                }

                                                else if (Model.idOwner == Item.idOwner)
                                                {
                                                    <option selected="selected" value="@Item.idOwner">@Item.ownerName</option>
                                                }
                                                else
                                                {
                                                    <option value="@Item.idOwner">@Item.ownerName</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width:15%;text-align:center;">
                                Número Almacén
                            </td>
                            <td>

                                @if (Model.idSupplierWHCode.ToString() == "0")
                                {<input type="text" class="form-control" id="txtNumAlmacen" />}
                                else
                                { <input type="text" class="form-control" value="@Model.idSupplierWHCode" id="txtNumAlmacen" />}
                            </td>
                            <td style="width:15%;text-align:center;">
                                Nombre Almacén
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtNomAlmacen" value="@Model.SupplierWHName" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"><hr /></td>
                        </tr>
                    </table>
                    <table style="width:100%;">
                        <tr>
                            <td colspan="6">
                                <b> Direccion del Almacén </b>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:15%;text-align:center;">
                                Calle
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtCalle" value="@Model.addressStreet" />
                            </td>
                            <td style="width:15%;text-align:center;">
                                Número Exterior
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtNumExt" onkeypress='return validaNumericos2(event)' value="@Model.addressNumberExt" />
                                @*onblur="validaNumericos();"*@

                            </td>
                            <td style="width:15%;text-align:center;">
                                Número Interior
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtNumInt" value="@Model.addressNumberInt" />
                            </td>

                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Ciudad/Delegación/Municipio
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" readonly id="txtCiudad" value="@Model.addressCity" />
                            </td>
                            <td style="width:15%;text-align:center;">
                                CP.
                            </td>
                            @*<td style="text-align:left;">
                                    <input type="number" min="1" max="99999" class="form-control" id="txtCodPos" />
                                </td>*@
                            <td>
                                @Html.TextBox("txtCodPos", Model.addressPostalCode, new
                                    {
                                    @class = "form-control ;",
                                    @onchange = "javascript:GetInfo()"
                                    })
                            </td>
                            <td style="width:15%;text-align:center;">
                                Estado
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" readonly id="txtEdo" value="@Model.addressState" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">Colonia</td>
                            <td style="text-align:left;">
                                @*<input type="text" class="form-control" id="txtCol" value="@Model.addressCol" />*@
                                <select id="ddlColonias" class="form-control">
                                </select>
                            </td>
                            <td style="width:15%;text-align:center;">
                                Entre calle 1

                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtEntCal1" value="@Model.addressReference1" />
                            </td>
                            <td style="width:15%;text-align:center;">
                                Entre calle 2

                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtEntCal2" value="@Model.addressReference2" />
                            </td>

                        </tr>
                        <tr>


                            <td style="width:15%;text-align:center;">
                                Referencia

                            </td>
                            <td style="text-align:left;" colspan="3">
                                <input type="text" class="form-control" id="txtReferencia" value="@Model.reference" />
                            </td>

                        </tr>
                        <tr>
                            <td colspan="6"><hr /></td>
                        </tr>
                    </table>
                    <table style="width:100%;">
                        <tr>
                            <td colspan="3">
                                <b>
                                    Infomación de contacto operativo
                                </b>
                            </td>
                            <td colspan="3">
                                <b>
                                    Infomación de contacto comercial
                                </b>
                            </td>

                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Nombre de contacto Operativo

                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtNomContOper" value="@Model.operInfoName" />
                            </td>
                            <td style="width: 10%;"></td>
                            <td style="width:15%;text-align:center;">
                                Nombre de contacto Comercial
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtNomContCom" value="@Model.commInfoName" />
                            </td>
                            <td style="width: 10%;"></td>

                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Teléfono del contacto Operativo
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtTelContOper" value="@Model.operInfoPhone" />
                            </td>
                            <td style="width: 10%;"></td>
                            <td style="width:15%;text-align:center;">
                                Teléfono del contacto Comercial
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtTelContCom" value="@Model.commInfoPhone" />
                            </td>
                            <td style="width: 10%;"></td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:center;">
                                Correo electrónico

                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtEmailO" value="@Model.operInfoEmail" />
                            </td>
                            <td style="width: 10%;"></td>

                            <td style="width:15%;text-align:center;">
                                Correo electrónico
                            </td>
                            <td style="text-align:left;">
                                <input type="text" class="form-control" id="txtEmailC" value="@Model.commInfoEmail" />
                            </td>
                            <td style="width: 10%;"></td>
                        </tr>
                        <tr>
                            <td colspan="6"><br /></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td>
                                <button type="button" class="btn btn-white" onclick="Save()">GUARDAR</button>
                            </td>
                            @*<td>
                                    <button type="button" class="btn btn-primary" onclick="TraspasaOrden()">EDITAR</button>
                                </td>*@
                        </tr>
                        <tr>
                            <td colspan="6"><br /><br /><br /></td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            //IniciarCombo()
        });

        function GetInfo() {
            //alert($("#txtCodPos").val());
            var _postalCode = $("#txtCodPos").val();

            if (_postalCode.length == 5) {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("GetInfoByCP", "AltaProveedor")',
                    data: {
                        postalCode: _postalCode
                    },
                    datatype: "html",
                    success: function (json) {
                        //debugger;
                        if (json.Success) {
                            $("#txtEdo").val(json.resp[0].Region1Name);
                            $("#txtCiudad").val(json.resp[0].Locality);

                            var sel = $("#ddlColonias");
                            sel.empty();

                            $('#ddlColonias').get(0).options[0] = new Option("--SELECCIONE--", "0");
                            for (var i = 0; i < json.resp.length; i++) {
                                sel.append('<option value="' + json.resp[i].SubLocality + '">' + json.resp[i].SubLocality + '</option>');
                            }
                        }
                        else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);

                    }

                });
            }
        }
        function onkeydown_cp(e) {

            alert(e);
            switch (e.which) {
                case 9:
                case 13:
                case 19:
                    RellenarCP();
                    break;
            }
        }

        function onkeydown_busqueda(e) {

            switch (e.which) {
                case 9:
                case 13:
                case 19:
                    ObtenerDatos();
                    break;
            }
        }

        function RellenarCP() {
            var _txtCodPos = ("00000" + $("#txtCodPos").val()).substr(-5, 5);
            $("#txtCodPos").val(_txtCodPos);
        }

        function ObtenerDatos() {
            var _txtNumPro = $("#txtNumPro").val();
            if (_txtNumPro.length != 0) {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("ConsecutivoAlmacen", "AltaProveedor")',
                    data: {
                        idSupplierWH: _txtNumPro
                    },
                    datatype: "html",
                    success: function (json) {
                        debugger;
                        if (json.Success) {
                            $("#txtNumAlmacen").val(json.resp[0].idSupplierWHCode);
                            $("#txtNomPro").val(json.resp[0].supplierName);
                        }
                        else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);

                    }

                });
            }
        }

        function IniciarCombo() {
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("IniciarComboTipoAlmacen", "AltaProveedor")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    debugger;
                    if (json.Success) {
                        var sel = $("#lstIdAlmacen");
                        sel.empty();

                        $('#lstIdAlmacen').get(0).options[0] = new Option("--SELECCIONE--", "0");
                        for (var i = 0; i < json.resp.length; i++) {
                            sel.append('<option value="' + json.resp[i].idOwner + '">' + json.resp[i].ownerName +  '</option>');
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);

                }
            });
        }

        function Save() {
            var _txtNumPro = $("#txtNumPro").val();
            var _txtNomPro = $("#txtNomPro").val();
            var _txtIdAlmacen = $("#lstIdAlmacen").val();
            var _txtNumAlmacen = $("#txtNumAlmacen").val();
            var _txtNomAlmacen = $("#txtNomAlmacen").val();
            var _txtCalle = $("#txtCalle").val();
            var _txtNumExt = $("#txtNumExt").val();
            var _txtNumInt = $("#txtNumInt").val();
            var _txtCiudad = $("#txtCiudad").val();
            var _txtCodPos = $("#txtCodPos").val();
            var _txtEdo = $("#txtEdo").val();
            var _txtEntCal1 = $("#txtEntCal1").val();
            var _txtEntCal2 = $("#txtEntCal2").val();
            var _txtNomContOper = $("#txtNomContOper").val();
            var _txtNomContCom = $("#txtNomContCom").val();
            var _txtTelContOper = $("#txtTelContOper").val();
            var _txtTelContCom = $("#txtTelContCom").val();
            var _txtEmailO = $("#txtEmailO").val();
            var _txtEmailC = $("#txtEmailC").val();
            var _creationId = 't_joserp';
            var _idOperType = $("#ddlOperations").val();
            var _idShipType = $("#ddlShipments").val();
            var _addressCol = $("#ddlColonias").val();
            var _addressCol = $("#ddlColonias").val();
            var _reference = $("#txtReferencia").val();
            var _bitVehicles = "false";
               //string idOperType, string idShipType, string bitVehicles


            if (_txtNumPro.length == 0) {
                $("#txtNumPro").focus();
                return;
            }
            if (_txtNomPro.length == 0) {
                $("#txtNomPro").focus();
                return;
            }
            if (_txtIdAlmacen.length == 0) {
                $("#txtIdAlmacen").focus();
                return;
            }
            if (_txtNumAlmacen.length == 0) {
                $("#txtNumAlmacen").focus();
                return;
            }
            if (_txtNomAlmacen.length == 0) {
                $("#txtNomAlmacen").focus();
                return;
            }
            if (_txtCalle.length == 0) {
                $("#txtCalle").focus();
                return;
            }
            if (_txtNumExt.length == 0) {
                $("#txtNumExt").focus();
                return;
            }
            //if (_txtNumInt.length == 0) {
            //    $("#txtNumInt").focus();
            //    return;
            //}
            if (_txtCiudad.length == 0) {
                $("#txtCiudad").focus();
                return;
            }
            if (_txtCodPos.length == 0) {
                $("#txtCodPos").focus();
                return;
            }
            if (_txtEdo.length == 0) {
                $("#txtEdo").focus();
                return;
            }
            if (_txtEntCal1.length == 0) {
                $("#txtEntCal1").focus();
                return;
            }
            if (_txtEntCal2.length == 0) {
                $("#txtEntCal2").focus();
                return;
            }
            if (_txtNomContOper.length == 0) {
                $("#txtNomContOper").focus();
                return;
            }
            if (_txtNomContCom.length == 0) {
                $("#txtNomContCom").focus();
                return;
            }
            if (_txtTelContOper.length == 0) {
                $("#txtTelContOper").focus();
                return;
            }
            if (_txtTelContCom.length == 0) {
                $("#txtTelContCom").focus();
                return;
            }
            if (_txtEmailO.length == 0) {
                $("#txtEmailO").focus();
                return;
            }
            if (_txtEmailC.length == 0) {
                $("#txtEmailC").focus();
                return;
            }

                if ($("#chVehiculo").is(':checked') ) {
                    _bitVehicles = "true";
                }


             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GrabarProveedor", "AltaProveedor")',
                data: {
                    idSupplierWH: _txtNumPro
                    , supplierName: _txtNomPro
                    , idOwner: _txtIdAlmacen //2 SP
                    , idSupplierWHCode: _txtNumAlmacen //combo Tipo
                    , SupplierWHName: _txtNomAlmacen
                    , addressStreet: _txtCalle
                    , addressNumberExt: _txtNumExt
                    , addressNumberInt: _txtNumInt
                    , addressCity: _txtCiudad
                    , addressPostalCode: _txtCodPos
                    , addressState: _txtEdo
                    , addressReference1: _txtEntCal1
                    , addressReference2: _txtEntCal2
                    , commInfoName: _txtNomContCom
                    , operInfoName: _txtNomContOper
                    , operInfoPhone: _txtTelContOper
                    , operInfoEmail: _txtEmailO
                    , commInfoPhone: _txtTelContCom
                    , commInfoEmail: _txtEmailC
                    , creationId: _creationId
                    , idOperType: _idOperType
                    , idShipType: _idShipType
                    , bitVehicles: _bitVehicles
                    , addressCol: _addressCol
                    , reference: _reference
                },
                datatype: "html",
                success: function (json) {
                    debugger;
                    if (json.Success) {
                        alert("Inserción exitosa");
                        location.reload();
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);

                }
            });
        }

        function validaNumericos1() {
            var inputtxt = document.getElementById('txtNumExt');
            var valor = inputtxt.value;
            for (i = 0; i < valor.length; i++) {
                var code = valor.charCodeAt(i);
                if (code <= 48 || code >= 57) {
                    inputtxt.value = "";
                    document.getElementById('txtNumExt').focus;
                    return;
                }
            }

        }

        function validaNumericos2(event) {
            if (event.charCode >= 48 && event.charCode <= 57) {
                return true;
            }
            return false;
        }


    </script>
}