
@{
    ViewBag.Title = "Envio de Pedidos Concluidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Envio de Pedidos Concluidos</h2>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="form-group">
            <label>Fecha Inicio</label>
            @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
            <div class="input-group date" id="datetimepicker1">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control datepicker" id="txtFecIni"
                       type="text" value="@ViewBag.FecIni">
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <label>Fecha Fin</label>
        @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
        <div class="input-group date" id="datetimepicker2">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control datepicker" id="txtFecFin"
                   type="text" value="@ViewBag.FecFin">
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
        <label>&nbsp;</label>
        <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetconsignacionesProveedor()">
            Buscar
        </button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Número Almacen</th>
                        <th>Nombre Almacen</th>
                        <th>Numero de Pedido</th>
                        @* <th>Total importe del Pedido</th>*@
                        @*<th>Tipo Almacen </th>*@
                        <th>Nombre del cliente</th>
                        <th>Fecha creacion del pedido</th>
                        <th>Hora creacion de pedido</th>
                        @*<th>Fecha Pago Autorizado</th>
        <th>Fecha Limite Entrega a la Paqueteria</th>*@
                        @*<th>Estatus de la orden</th>*@
                        <th>Estatus del Pedido Surtido</th>
                        <th>Estatus del Pedido Envio</th>
                        <th>No. de orden de compra (DSV)</th>
                        <th>Estatus de Orden de Compra (DSV)</th>
                        <th>Tipo de Guía</th>
                        <th>Paqueteria</th>
                        <th>No. Guía</th>
                        <th>Estatus de Guía</th>
                        <th>Fecha de Entrega</th>
                        <th>Hora de Entrega</th>
                        <th>Nombre de Quien Recibio</th>

                        @*<th>Vigencia Guía</th>*@
                        @*<th>Consignacion de Reenvio/Sustituto/Cambio Fisico</th>*@
                        @*<th>Guia de devolucion</th>*@
                        @*<th>Estatus de la Guia de Devolucion</th>*@
                        @*<th>Guia de reenvio</th>*@
                        @*<th>Estatus de Guía de Reenvio</th>*@
                        @*<th class="sorting">Motivo de no recolección</th>*@
                        @*<th name='accion'></th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="dlgInventarios" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Almacen - Inventario </h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table id="tblInventarios" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer " role="grid" style="width: 555px;">
                                <thead class="bg-danger-sor">
                                    <tr>
                                        <th>EAN/Codigo de barras</th>
                                        <th>id</th>
                                        <th>Descripción</th>
                                        <th>Piezas</th>
                                        <th>Costo Unitario</th>
                                        <th>Peso volumetrico Unitario</th>
                                        <th>Surtido/Dias transcurridos desde la cración</th>
                                        <th>Surtido/Dias transcurridos desde la autorización</th>
                                        <th>Fecha de envio</th>
                                        <th>Hora de envio</th>
                                        <th>RMA</th>
                                        <th>Estatus del RMA</th>

                                    </tr>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                @*<button type="button" onclick="Save()" class="btn btn-primary">Guardar</button>*@
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="dlgDesHabilitar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Almacen - Autorización</h4>
                <input type="hidden" id="hddNoProveedor" />
                <input type="hidden" id="HddNoAlmacen" />

            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>Motivo por el cual se Inhabilita: </label>
                                <textarea class="form-control m-b" id="txtMotCan" rows="6" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="Inhabilitar()" class="btn btn-primary">Inhabilitar</button>
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });

        });

        @*function popDesHabilitar(noProveedor, noAlmacen) {
            $("#hddNoProveedor").val(noProveedor);
            $("#HddNoAlmacen").val(noAlmacen);
            $("#dlgDesHabilitar").modal('toggle');
        }

        function PopInv(noProveedor, noAlmacen){

           $("#dlgInventarios").modal('toggle');


            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("GetSuppliersWHStock", "almacenes")',
                data: {
                    idSupplierWH: noProveedor,
                    idSupplierWHCode: noAlmacen
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        $('#tblInventarios tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');

                            tr.append("<td>" + json.resp[i].idOwner + "</td>");
                            tr.append("<td>" + json.resp[i].ProductSKU + "</td>");
                            tr.append("<td>" + json.resp[i].barCode + "</td>");
                            tr.append("<td>" + json.resp[i].productName + "</td>");
                            tr.append("<td>" + json.resp[i].productCategoryId + "</td>");
                            tr.append("<td>" + json.resp[i].qtyStockSafety + "</td>");
                            tr.append("<td>" + json.resp[i].qtyStockForSale + "</td>");
                            tr.append("<td>" + json.resp[i].qtyStockReserved + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionLarge + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionHeight + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionWeightVol + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionWeightReal + "</td>");

                            tr.append("<td>" + json.resp[i].productStatus + "</td>");
                            tr.append("<td>" + json.resp[i].productMaterialCost + "</td>");
                            tr.append("<td>" + json.resp[i].productCreationDate + "</td>");
                            tr.append("<td>" + json.resp[i].idSupplierOrigin + "</td>");
                            tr.append("<td>" + json.resp[i].idSupplierOriginName + "</td>");

                            /*
                                        <th>idOwner</th>
                                        <th>ProductSKU</th>
                                        <th>barCode</th>
                                        <th>productName</th>
                                        <th>productCategoryId</th>
                                        <th>qtyStockSafety</th>
                                        <th>qtyStockForSale</th>
                                        <th>qtyStockReserved</th>
                                        <th>dimmensionLarge</th>
                                        <th>dimmensionHeight</th>
                                        <th>dimmensionWeightVol</th>
                                        <th>dimmensionWeightReal</th>
                                        <th>productStatus</th>
                                        <th>productMaterialCost</th>
                                        <th>productCreationDate</th>
                                        <th>idSupplierOrigin</th>
                                        <th>idSupplierOriginName</th>
                                        */
                            $('#tblInventarios').append(tr);
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }*@
        function GetconsignacionesProveedor() {

            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();

            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }


            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetconsignacionesProveedorConcluidos", "consignaciones")',
                data: {
                    FecIni: _FecIni,
                    FecFin: _FecFin
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {



                        var myTable = $('#tblConsulta').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {


                            myTable.row.add([
                                json.resp[i].NroAlmacen,
                                json.resp[i].NombreAlmacen,
                                "<a href='ProcesoSurtido/ProcesoSurtido?OrderNo=" + json.resp[i].OrdenCompra + "&UeNo=" + json.resp[i].Consignacion + "' title='Click para ir al proveedor' class='link-primary' ><u>" + json.resp[i].Consignacion + "</u>",
                                json.resp[i].FechaCreacion,
                                json.resp[i].HoraCreacion,
                                json.resp[i].NombreCliente,
                                json.resp[i].EstatusConsignacionAlmacen,
                                json.resp[i].EstatusConsignacionEntrega,
                                json.resp[i].NroOrdenCompra,
                                json.resp[i].EstatusOrdenCompra,
                                json.resp[i].TipoGuia,
                                json.resp[i].Paqueteria,
                                json.resp[i].GuiaEnvio,
                                json.resp[i].GuiaStatus,
                                json.resp[i].FechaEntrega,
                                json.resp[i].HoraEntrega,
                                json.resp[i].QuienRecibio
                       
                            ]).draw();
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }


       @* function Inhabilitar() {

            var motCan = $("#txtMotCan").val();

            if (motCan.length == 0) {
                $("#txtMotCan").focus();
                return;
            }
            UpdateStatus($("#hddNoProveedor").val(), $("#HddNoAlmacen").val(), false, motCan);
            $("#dlgDesHabilitar").modal('hide');
        }

        function Habilitar(noProveedor, noAlmacen) {
            UpdateStatus(noProveedor, noAlmacen, true, '');
        }
        function UpdateStatus(noProveedor, noAlmacen, _bitenable, _enableCause) {
            //string bitenable, string enableCause
             $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("UpdateSuppliersWH", "almacenes")',
                data: {
                    idSupplierWH: noProveedor,
                    idSupplierWHCode: noAlmacen,
                    bitenable: _bitenable,
                    enableCause: _enableCause
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        //GetSuppliers();
                        location.reload();

                    } else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            })

        }*@

    </script>
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    //fixedHeader: {
                    //    header: true
                    //},
                    "scrollX": true

                }
            );

            $("#tblInventarios").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin
                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "scrollX": true
                    , "options": {
                        "emptyTable": "No records to display..."
                    }

                }
            );

            //GetconsignacionesProveedor();
        });
    </script>
}
