
@{
    ViewBag.Title = "Autorizaciones Bancarias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        width: 30em;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>

<h2>Autorizaciones Bancarias</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Fecha Inicio</label>
                    <input type="date" id="txtFecIni" class="form-control" />
                    <div class="input-group date" id="datetimepicker1"></div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label>Fecha Fin</label>
                <input type="date" id="txtFecFin" class="form-control" />
                <div class="input-group date" id="datetimepicker2"></div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
                <label>&nbsp;</label>
                <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetHistorialRMA()">
                    Buscar
                </button>
            </div>
        </div>
        <div style="width: 99%; overflow-x: scroll; overflow-y: hidden;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer container">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Orden ID</th>
                        <th>ID Transacción</th>
                        <th>Fecha Creacion</th>
                        <th>Hora Creacion</th>
                        <th>Monto Total Orden</th>
                        <th>Banco</th>
                        <th>Bin</th>
                        <th>Sufijo</th>
                        <th>Tipo Tarjeta</th>
                        <th>Marca</th>
                        <th>No. Autorización</th>
                        <th>MSI</th>
                        <th>Decision emisor</th>
                        <th>Codigo Respuesta emisor</th>
                        <th>Descripcion Respuesta emisor</th>
                        <th>Catalogo</th>
                        <th>Canal Compra</th>
                        <th>Forma Pago</th>
                        <th>3D/Safe Key</th>
                        <th>3D/Safe Key</th>
                        <th>Estatus Orden</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Session["listaGrid"] != null)
                        {
                            var lista = Newtonsoft.Json.JsonConvert.DeserializeObject<List<ServicesManagement.Web.Models.ProcesadorPagosSoriana.ProcesadorPagosBase>>(Session["listaGrid"].ToString());

                            foreach (ServicesManagement.Web.Models.ProcesadorPagosSoriana.ProcesadorPagosBase o in lista)
                            {
                                <tr>
                                    <td>@o.OrderReferenceNumber</td>
                                    <td>@o.PaymentTransactionID</td>
                                    <td>@o.OrderDate</td>
                                    <td>@o.OrderHour</td>
                                    <td>@o.OrderAmount</td>
                                    <td>@o.Bank</td>
                                    <td>@o.BinCode</td>
                                    <td>@o.MaskCard</td>
                                    <td>@o.TypeOfCard</td>
                                    <td>@o.PaymentMethod</td>
                                    <td>@o.TransactionAuthorizationId</td>
                                    <td>@o.shippingPaymentInstallments</td>
                                    <td>@o.DecisionEmisor</td>
                                    <td>@o.CveReespuestaEmisor</td>
                                    <td>@o.DescReespuestaEmisor</td>
                                    <td>@o.Catalogo</td>
                                    <td>@o.OrderSaleChannel</td>
                                    <td>@o.paymentTypeJson</td>
                                    <td>@o.Apply3DS</td>
                                    <td>@o.Apply3DS</td>
                                    <td>@o.PaymentTransactionService</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );
        });

        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });

        });

        function GetHistorialRMA() {
            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();

            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }

            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetParamDates", "ReportesPDP")',
                data: {
                        FecIni: _FecIni,
                        FecFin: _FecFin,
                },
                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        debugger;

                        var myTable = $('#tblConsulta').DataTable();
                        myTable.clear().draw();

                        for (var i = 0; i < json.resp.length; i++) {
                            debugger;
                            var rw = json.resp[i];
                            var OrderReferenceNumber = rw.OrderReferenceNumber;
                            var PaymentTransactionID = rw.PaymentTransactionID;
                            var OrderDate = rw.OrderDate;
                            var OrderHour = rw.OrderHour;
                            var OrderAmount = rw.OrderAmount;
                            var Bank = rw.Bank;
                            var BinCode = rw.BinCode;
                            var MaskCard = rw.MaskCard;
                            var TypeOfCard =rw.TypeOfCard;
                            var PaymentMethod = rw.PaymentMethod;
                            var TransactionAuthorizationId = rw.TransactionAuthorizationId;
                            var shippingPaymentInstallments = rw.shippingPaymentInstallments;
                            var DecisionEmisor = rw.DecisionEmisor;
                            var CveReespuestaEmisor = rw.CveReespuestaEmisor;
                            var DescReespuestaEmisor = rw.DescReespuestaEmisor;
                            var Catalogo = rw.Catalogo;
                            var OrderSaleChannel = rw.OrderSaleChannel;
                            var paymentTypeJson = rw.paymentTypeJson;
                            var Apply3DS = rw.Apply3DS;
                            var PaymentTransactionService = rw.PaymentTransactionService;

                            myTable.row.add([
                                OrderReferenceNumber,
                                PaymentTransactionID,
                                OrderDate,
                                OrderHour,
                                OrderAmount,
                                Bank,
                                BinCode,
                                MaskCard,
                                TypeOfCard,
                                PaymentMethod,
                                TransactionAuthorizationId,
                                shippingPaymentInstallments,
                                DecisionEmisor,
                                CveReespuestaEmisor,
                                DescReespuestaEmisor,
                                Catalogo,
                                OrderSaleChannel,
                                paymentTypeJson,
                                Apply3DS,
                                Apply3DS,
                                PaymentTransactionService,
                            ]).draw();
                        }
                        table.columns.adjust().draw();
                    }
                    else {
                        alert(json.Message);
                    }
                }
            });
        }
    </script>
}

