
@{
    ViewBag.Title = "Forma de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Forma de Pago</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Fecha Inicio</label>
                    <input type="date" id="txtFecIni" class="form-control" />
                    <div class="input-group date" id="datetimepicker1"></div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label>Fecha Fin</label>
                <input type="date" id="txtFecFin" class="form-control" />
                <div class="input-group date" id="datetimepicker2"></div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
                <label>&nbsp;</label>
                <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetHistorialRMA()">
                    Buscar
                </button>
            </div>
        </div>
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Metodo Pago</th>
                        <th>Fecha</th>
                        <th>Mes</th>
                        <th>Ordenes Cantidad</th>
                        <th>Monto</th>
                        <th>Clientes Cantidad</th>
                        <th>Catalogo</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        @*if (Session["listaGrid"] != null)
                            {
                                var lista = Newtonsoft.Json.JsonConvert.DeserializeObject<List<ServicesManagement.Web.Models.ProcesadorPagosSoriana.ParticipacionFormasPagoModel>>(Session["listaGrid"].ToString());

                                foreach (ServicesManagement.Web.Models.ProcesadorPagosSoriana.ParticipacionFormasPagoModel o in lista)
                                {
                                    <tr>
                                        <td>@o.metodoPago</td>
                                        <td>@o.fecha</td>
                                        <td>@o.mes</td>
                                        <td>@o.ordenesCantidad</td>
                                        <td>@o.monto</td>
                                        <td>@o.clientesCantidad</td>
                                        <td>@o.Catalogo</td>
                                    </tr>
                                }
                            }*@
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            //GetReporte();
        });

        function GetReporte() {

            //var _Id_Num_UN = $("#hddTda").val();

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetFormaPago", "ReportesPDP")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {

                        $('#tblConsulta tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');


                            tr.append("<td>" + json.resp[i].NoOrden + "</td>");
                            tr.append("<td>" + json.resp[i].Fecha + "</td>");
                            tr.append("<td>" + json.resp[i].NoConsignacion + "</td>");
                            tr.append("<td>" + json.resp[i].Monto + "</td>");
                            tr.append("<td>" + json.resp[i].TipoPAgo + "</td>");
                            tr.append("<td>" + json.resp[i].Origen + "</td>");
                            tr.append("<td>" + json.resp[i].FecEntrega + "</td>");


                            $('#tblConsulta').append(tr);
                        }


                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }

    </script>
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );
        });

        function GetHistorialRMA() {
            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();

            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }

            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetParamDates", "ReportesPDP")',
                data: {
                        FecIni: _FecIni,
                        FecFin: _FecFin,
                },
                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        debugger;

                        var myTable = $('#tblConsulta').DataTable();
                        myTable.clear().draw();

                        for (var i = 0; i < json.resp.length; i++) {
                            debugger;
                            var metodoPago = rw.metodoPago;
                            var fecha = rw.fecha;
                            var mes = rw.mes;
                            var ordenesCantidad = rw.ordenesCantidad;
                            var monto = rw.monto;
                            var clientesCantidad = rw.clientesCantidad
                            var Catalogo = rw.Catalogo

                            myTable.row.add([
                                metodoPago
                                , fecha
                                , mes
                                , ordenesCantidad
                                , monto
                                , clientesCantidad
                                , Catalogo
                            ]).draw();
                        }
                        table.columns.adjust().draw();
                    }
                    else {
                        alert(json.Message);
                    }
                }
            });
        }
    </script>
}

