@using ServicesManagement.Web.Models.OrdenesCompra;

@{
    ViewBag.Title = "Ordenes de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
                    <h2>Ordenes de Compra</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table id="tblConsulta" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
                        <thead class="bg-danger-sor">
                            <tr>
                                <th style="text-align:center;">No. Consignación</th>
                                <th style="text-align:center;">Tipo de Consignación</th>
                                <th style="text-align:center;">Estatus del Pedido</th>
                                <th style="text-align:center;">Estatus del la Consignación</th>
                                <th style="text-align:center;">No. Proveedor</th>
                                <th style="text-align:center;">Nombre Proveedor</th>
                                <th style="text-align:center;">No. Almacén</th>
                                <th style="text-align:center;">Nombre Almacen</th>
                                <th style="text-align:center;">No. Orden Compra</th>
                                <th style="text-align:center;">Importe</th>
                                <th style="text-align:center;">Estatus Orden Compra</th>
                                <th style="text-align:center;">Periodo Orden Compra</th>
                                <th style="text-align:center;">Fecha del pedido</th>
                                <th style="text-align:center;">Hora del pedido</th>
                                <th style="text-align:center;">Fecha de recibo</th>
                                <th style="text-align:center;">Hora de recibo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                IEnumerable<upCorpOMS_Cns_UeNoShoppingOrders> list = ViewBag.Orders as IEnumerable<upCorpOMS_Cns_UeNoShoppingOrders>;
                            }
                            @foreach (upCorpOMS_Cns_UeNoShoppingOrders item in list)
                            {
                                <tr>

                                    <td style="text-align:left;">@item.consignacion</td>
                                    <td style="text-align: left;">@item.TipoConsignacion</td>
                                    <td style="text-align:left;">@item.EstatusPedido</td>
                                    <td style="text-align:left;">@item.EstatusConsignacion</td>
                                    <td style="text-align:left;">@item.NroProveedor</td>
                                    <td style="text-align:left;">@item.NombreProveedor</td>
                                    <td style="text-align:left;">@item.NroAlmacen</td>
                                    <td style="text-align:left;">@item.NombreAlmacen</td>
                                    <td style="text-align:left;">@item.OrdenCompra</td>
                                    <td style="text-align:left;">@item.Importe</td>
                                    <td style="text-align:left;">@item.EstatusOrdenCompra</td>
                                    <td style="text-align:left;">@item.PeriodoOrdenCompra</td>
                                    <td style="text-align:left;">@item.FechaPedido</td>
                                    <td style="text-align:left;">@item.HoraPedido</td>
                                    <td style="text-align:left;">@item.FechaPedidoRecibo</td>
                                    <td style="text-align:left;">@item.HoraPedidoRecibo</td>

                                </tr>



                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("DetalleOrden")
@section scripts {
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>

        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );



        });


    </script>
}


<script>


                //function popDetalle() {
                //    $('#dlgDetalle').modal('toggle');
                //}
</script>
}

