@using ServicesManagement.Web.Models.ProcesoSurtido;
@{
    ViewBag.Title = "Proceso Surtido";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var EsVehiculo = false;
}

<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center" ">
                    <h2>Proceso de Surtido</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
                    @if (ViewBag.Header != null)
                    {
                        Encabezado list = ViewBag.Header as Encabezado;
                        <div class="alert alert-info">
                            @list.Concatenado
                        </div>
                        <input type="hidden" id="hddIdSupplierWH" value="@list.idSupplierWH" />
                        <input type="hidden" id="hddSupplierName" value="@list.SupplierName" />
                        <input type="hidden" id="hddUeNo" value="@ViewBag.UeNo" />
                        <input type="hidden" id="hddOrderNo" value="@ViewBag.OrderNo" />
                        <input type="hidden" id="hddStoreNum" value="@list.StoreNum" />
                        <input type="hidden" id="hddStatusUe" value="@list.StatusUe" />
                        <input type="hidden" id="hddIdSupplierWHCode" value="@list.IdSupplierWHCode" />
                        <input type="hidden" id="hddIdOwner" value="@list.IdOwner" />

                        EsVehiculo = list.bitVehicles;
                    }
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12">
                    @if (ViewBag.Mensaje == null)
                    {


                        <div class="tabs-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Aceptar Pedido</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2">Solicitud de Guía</a></li>
                                @{
                                    if (EsVehiculo)
                                    {
                                        <li><a class="nav-link" data-toggle="tab" href="#tab-4">Vehículo</a></li>
                                    }
                                }
                                <!-- se comenta pues esta por hacerse -->
                                <li><a class="nav-link" data-toggle="tab" href="#tab-3">Descarga de Guías</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <table id="tblAcepConsig" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
                                                    <thead class="bg-danger-sor">
                                                        <tr>
                                                            <th style="text-align:center;">EAN/Código Barras</th>
                                                            <th style="text-align:center;">Descripción</th>
                                                            <th style="text-align:center;">Pzas Solicitadas para Envío</th>
                                                            <th style="text-align:center;">Tipo de Envio</th>
                                                            <th style="text-align:center;" name="accion">Art. a Surtir</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{

                                                            IEnumerable<upCorpOms_Cns_UeNoSupplyProcess> list = ViewBag.UeNoSupplyProcess as IEnumerable<upCorpOms_Cns_UeNoSupplyProcess>;

                                                        }
                                                        @foreach (upCorpOms_Cns_UeNoSupplyProcess item in list)
                                                        {
                                                            <tr>
                                                                <td>@item.EAN</td>
                                                                <td style="text-align:left;">@item.Descripcion</td>
                                                                <td style="text-align:right;">@item.Piezas</td>
                                                                <td style="text-align:left;">@item.TipoEnvio</td>
                                                                @if (item.Suplido)
                                                                {
                                                                    <td style="text-align:center;">x</td>
                                                                    @*<td style="text-align:center;"><input type="checkbox" name="chbConsig" value="@item.EAN" class="checkbox" id="flexCheckDefault" checked disabled="disabled"></td>*@
                                                                }
                                                                else
                                                                {
                                                                    <td style="text-align:center;"><input type="checkbox" name="chbConsig" value="@item.EAN" class="checkbox" id="flexCheckDefault"></td>
                                                                }
                                                            </tr>



                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @if (ViewBag.ArtSup == null)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="width:25%;">
                                                                <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="Consignacion()">
                                                                    Aceptar Pedido
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                            </td>
                                                            <td></td>
                                                            <td style="width:25%;">
                                                                <button type="button" id="btnCancelarConsig" class="btn btn-primary block full-width m-b" onclick="popCancelar()"> Cancelar Pedido </button>
                                                                @*<button type="button" id="btnCancelarConsig" class="btn btn-primary block full-width m-b" onclick="alert('La siguiente consignación será cancelada por el siguiente motivo')"> Cancelar  Consignación </button>*@
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10 col-lg-10">
                                                <table id="tblSolicitutGuia" class="table table-stripedtblSolicitutGuia table-bordered table-hover table-responsive-md expand dataTable no-footer">
                                                    <thead class="bg-danger-sor">
                                                        <tr>
                                                            <th style="text-align:center;">EAN</th>
                                                            <th style="text-align:center;">Descripción</th>
                                                            <th style="text-align:center;">Piezas</th>
                                                            <th style="text-align:center;">Artículo en guía</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{

                                                            IEnumerable<upCorpOms_Cns_UeNoSupplyProcessSel> listP = ViewBag.PorProcesar as IEnumerable<upCorpOms_Cns_UeNoSupplyProcessSel>;

                                                        }

                                                        @if (listP.Count() == 0)
                                                        {
                                                            <tr>
                                                                <td colspan="4">No Existen Artículos disponibles</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (upCorpOms_Cns_UeNoSupplyProcessSel item in listP)
                                                            {
                                                                <tr>
                                                                    <td>@item.EAN</td>
                                                                    <td style="text-align:left;">@item.Descripcion</td>
                                                                    <td style="text-align:right;">@item.Piezas</td>

                                                                    @if (item.ConGuia == 1)
                                                                    {
                                                                        <td style="text-align:center;">x</td>
                                                                        @*<td style="text-align:center;"><input type="checkbox" name="chbConsig" value="@item.EAN" class="checkbox" id="flexCheckDefault" checked disabled="disabled"></td>*@
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="text-align:center;"><input type="checkbox" value="@item.SKU" class="checkbox" id="chkSel_@item.EAN.ToString()"></td>
                                                                    }
                                                                </tr>



                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <button type="button" class="btn btn-primary block full-width m-b" onclick="popEmbalaje()">
                                                    Agregar Paquete
                                                </button>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 right" style="text-align:right;"></div>
                                            <div class="col-lg-3 right" style="text-align:right;">
                                                <a class="btn btn-primary block full-width m-b" onclick="FinalizaEmbarqueDST()">Finalizar Guías</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <table id="tblEmbalaje" class="table table-stripedtblSolicitutGuia table-bordered table-hover table-responsive-md expand dataTable no-footer">
                                                <thead class="bg-danger-sor">
                                                    <tr role="row">
                                                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>TIPO PAQUETE</b><br /></th>
                                                            <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>PESO X PAQUETE</b><br />Peso max. 1000kg</th>
                                                            <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>DIMENSIONES X PAQUETE</b><br />L X AN X AL (cm)</th>
                                                            <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 110px;"><b>GUIA DE EMBARQUE</b><br /></th>
                                                            <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 110px;"><b>ACCIÓN</b><br /></th>*@
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>NO. GUIA</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>ALTO</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>LARGO</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>ANCHO</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>PESO</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>PESO REAL</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>TIPO ENVIO</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;"><b>TOTAL ARTICULOS EN GUIA</b><br /></th>
                                                        <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 110px;"><b>ACCIÓN</b><br /></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Session["OrderPackages"] != null)
                                                    {
                                                        System.Data.DataSet dsOP = (System.Data.DataSet)Session["OrderPackages"];
                                                        if (dsOP.Tables[0].Rows[0][0].ToString() != "no hay datos de esa Consignacion")
                                                        {
                                                            var dtOP = dsOP.Tables[0];
                                                            foreach (System.Data.DataRow op in dtOP.Rows)
                                                            {
                                                                <tr>
                                                                    <td>@op["IdTrackingService"]</td>
                                                                    <td>@op["PackageHeight"]</td>
                                                                    <td>@op["PackageLength"]</td>
                                                                    <td>@op["PackageWidth"]</td>
                                                                    <td>@op["PackageWeight"]</td>
                                                                    <td>--PESO REAL--</td>
                                                                    <td>--TIPO ENVIO--</td>
                                                                    <td style="text-align:center;">
                                                                        <a onclick="popUpLstProds(@op["IdTracking"])"
                                                                           title="Click para ver la lista de productos asociados a la orden" class="btn btn-link">@op["IdTracking"]</a>
                                                                    </td>
                                                                    @*<td>@op["PackageType"]</td>

                                                                        <td>@op["PackageWeight"]</td>
                                                                        <td>@op["PackageLength"] x @op["PackageWidth"] x @op["PackageHeight"]</td>
                                                                        <td style="text-align:center;">
                                                                            <a onclick="popUpLstProds(@op["IdTracking"])"
                                                                               title="Click para ver la lista de productos asociados a la orden" class="btn btn-link">@op["IdTracking"]</a>
                                                                        </td>*@
                                                                    <td style="text-align:center;"><button type='button' onclick='DeletePaquete("@op["IdTracking"]")' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                                @if (EsVehiculo)
                                {
                                    if (ViewBag.Vehiculos != null)
                                    {
                                        <div role="tabpanel" id="tab-4" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Serie</td>
                                                                    <td><input type="text" id="txtSerie" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Bateria</td>
                                                                    <td><input type="text" id="txtBateria" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Entrada Por</td>
                                                                    <td><input type="text" id="txtEntradaPor" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Fecha de Entrada</td>
                                                                    <td>
                                                                        @*<input type="date" id="txtFechaEntrada" class="form-control-sm" value="@listV.EntryDate.ToString("yyyy-MM-dd")" />*@
                                                                        <div class="input-group date" id="datetimepicker1">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                            <input class="form-control-sm datepicker" id="txtFechaEntrada" name="txtFechaEntrada"
                                                                                   type="text" value="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>No. de Pedimento</td>
                                                                    <td><input type="text" id="txtNoPedimento" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>No. de Motor</td>
                                                                    <td><input type="text" id="txtNoMotor" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Repuve</td>
                                                                    <td><input type="text" id="txtRepuve" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Año</td>
                                                                    <td><input type="text" id="txtAnio" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Color</td>
                                                                    <td><input type="text" id="txtColor" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Modelo</td>
                                                                    <td><input type="text" id="txtModelo" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Marca</td>
                                                                    <td><input type="text" id="txtMarca" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Cilindraje</td>
                                                                    <td><input type="text" id="txtCilindraje" class="form-control-sm" value="" /></td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <td colspan="2" style="text-align:right;">
                                                                        <button type="button" class="btn btn-primary block full-width m-b" onclick="GuardarVehiculo()">
                                                                            Guardar Vehículo
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <table id="tblVehiculos" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
                                                            <thead class="bg-danger-sor">
                                                                <tr>
                                                                    <th style="text-align:center;">Serie</th>
                                                                    <th style="text-align:center;">Batería</th>
                                                                    <th style="text-align:center;">Entrada Por</th>
                                                                    <th style="text-align:center;">Fecha de Entrada</th>
                                                                    <th style="text-align:center;">No. de Pedimento</th>
                                                                    <th style="text-align:center;">No. de Motor</th>
                                                                    <th style="text-align:center;">Repuve</th>
                                                                    <th style="text-align:center;">Año</th>
                                                                    <th style="text-align:center;">Color</th>
                                                                    <th style="text-align:center;">Modelo</th>
                                                                    <th style="text-align:center;">Marca</th>
                                                                    <th style="text-align:center;">Cilindraje</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{

                                                                    IEnumerable<upCorpOms_Cns_UeNoConsigmentsVehicles> listV = ViewBag.Vehiculos as IEnumerable<upCorpOms_Cns_UeNoConsigmentsVehicles>;

                                                                }
                                                                @foreach (upCorpOms_Cns_UeNoConsigmentsVehicles item in listV)
                                                                {
                                                                    <tr>
                                                                        <td>@item.SerialId</td>
                                                                        <td style="text-align:left;">@item.BateryId</td>
                                                                        <td style="text-align:right;">@item.EntryBy</td>
                                                                        <td style="text-align:left;">@item.EntryDate.ToString("dd/MM/yyyy")</td>
                                                                        <td style="text-align:left;">@item.PetitionId</td>
                                                                        <td style="text-align:left;">@item.MotorId</td>
                                                                        <td style="text-align:left;">@item.RepuveId</td>
                                                                        <td style="text-align:left;">@item.Year</td>
                                                                        <td style="text-align:left;">@item.ColorId</td>
                                                                        <td style="text-align:left;">@item.ModelId</td>
                                                                        <td style="text-align:left;">@item.BrandId</td>
                                                                        <td style="text-align:left;">@item.CylinderCapacityId</td>
                                                                    </tr>



                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div role="tabpanel" id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="tableFixHead table-responsive m-t">
                                            <table id="tblDescargaGuia" class="table invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center;">No. Guía</th>

                                                        <th style="text-align:center;">ID</th>
                                                        <th style="text-align:center;">Descripción</th>

                                                        <th style="text-align:center;">Peso Real</th>
                                                        <th style="text-align:center;">Tipo Envío</th>

                                                        <th> </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;">4562734567898230000000</td>
                                                        <td style="text-align:center;">1234567</td>

                                                        <td style="text-align:left;">Licon Caballero</td>

                                                        <td style="text-align:left;">Paquetería</td>

                                                        <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                        <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">4562734567898230000000</td>
                                                        <td style="text-align:center;">1234567</td>
                                                        <td style="text-align:left;">Licon Caballero</td>

                                                        <td style="text-align:left;">Paquetería</td>
                                                        <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                        <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">4562734567898230000000</td>
                                                        <td style="text-align:center;">1234567</td>
                                                        <td style="text-align:left;">Licon Caballero</td>
                                                        <td style="text-align:left;">Paquetería</td>
                                                        <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                        <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">4562734567898230000000</td>
                                                        <td style="text-align:center;">1234567</td>
                                                        <td style="text-align:left;">Licon Caballero</td>
                                                        <td style="text-align:left;">Paquetería</td>
                                                        <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                        <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">4562734567898230000000</td>
                                                        <td style="text-align:center;">1234567</td>
                                                        <td style="text-align:left;">Licon Caballero</td>
                                                        <td style="text-align:left;">Paquetería</td>
                                                        <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                        <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">4562734567898230000000</td>
                                                        <td style="text-align:center;">1234567</td>
                                                        <td style="text-align:left;">Licon Caballero</td>
                                                        <td style="text-align:left;">Paquetería</td>
                                                        <td> <a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                        <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <table>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        msj mensaje = @ViewBag.Mensaje as msj;

                        <div class="row">
                            <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
                                <div class="alert alert-danger">
                                    @mensaje.mensaje
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal inmodal fade" id="dlgCancel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <p>Cancelación de Pedido</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4 col col-md-4 col col-lg-4">
                        <div class="form-group">
                            <label>Motivo de Cancelación</label>
                            <select id="ddlMotCan" class="form-control">
                                @{
                                    if (ViewBag.MotCan != null)
                                    {
                                        IEnumerable<OrderFacts_UE_CancelCauses> listCan = ViewBag.MotCan as IEnumerable<OrderFacts_UE_CancelCauses>;
                                        foreach (OrderFacts_UE_CancelCauses item in listCan)
                                        {
                                            <option value="@item.IdCause">@item.Cause_Desc</option>

                                        }
                                        <option value="99">Otro</option>

                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col col-md-12 col col-lg-12">
                        <textarea id="txtOtro" maxlength="50" placeholder="Describir Otro" class="form-control" rows="4" cols="50"></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Cancelar()">Cancelar Pedido</button>
            </div>
        </div>
    </div>
</div>



<div class="modal inmodal fade" id="dlgAddProdcut" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <p>Embalaje</p>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <table class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th colspan="2">Tipo</th>
                                <th colspan="1" id="colPeso">Peso KG</th>
                                <th colspan="6" style="text-align:center;">Dimensiones (cm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="radio" checked="" value="Sobre" class="js-rate-type" id="optionsRadios1" name="optionsRadios"> Sobre</td>
                                <td><input type="radio" value="Paquete" id="optionsRadios2" name="optionsRadios"> Paquete</td>

                                <td><input type="text" class="form-control input-sm" placeholder="KG" id="txtKG" /></td>

                                <td><input type="text" class="form-control input-sm" placeholder="Largo" id="txtLg" /></td>

                                <td><input type="text" class="form-control input-sm" placeholder="Ancho" id="txtAn" /></td>

                                @*<td><input type="text" class="form-control input-sm" placeholder="Largo" style="display:none" id="txtLargo" /></td>

                                    <td><input type="text" class="form-control input-sm" placeholder="Ancho" style="display:none" id="txtAncho" /></td>*@

                                <td><input type="text" class="form-control input-sm" placeholder="Alto" style="display:none" id="txtAltura" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id=" btnActualizaMp" onclick="AddEmbalaje()">Asignar Guía</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="dlgShowProdcut" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <p>Lista de Productos</p>
            </div>
            <div class="modal-body">
                <form id="frmShowServicios">
                    <table id="tblShowProduct" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Código </th>
                                <th>Producto</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyy/MM/DD"
            });

        });


        $(document).ready(function () {
            //GetSolicitarGuia();
            $("input[name=optionsRadios]").change(function () {
                var sobreType = $('.js-rate-type')[0];
                var paqueteType = $("input[name=optionsRadios]")[1].checked;
                $(".form-control input-sm").toggle(sobreType.checked);
                $(".form-control input-s-lg").toggle(paqueteType.checked);
                if (sobreType.checked) {
                    $('#txtAltura').hide();
                }
                else {
                    $('#txtAltura').show();
                }
            }).change()

        });

            function popUpLstProds(idTracking) {

        //var TrackingType = "Normal";
                var _UeNo = $("#hddUeNo").val();
                var _OrderNo = $("#hddOrderNo").val();
        var idTracking = idTracking;

        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("LstProdPaquete", "Ordenes")',
            data: {
                UeNo: _UeNo,
                OrderNo: _OrderNo,
                IdTracking: idTracking,
                //TrackingType: TrackingType
            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    $("#tblShowProduct tbody").empty();
                    //$("#tblShowProduct tbody").remove();
                    //var tr;
                    debugger;
                    //Append each row to html table
                    for (var i = 0; i < json.resp.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json.resp[i].Barcode + "</td>");
                        tr.append("<td>" + json.resp[i].ProductId + "</td>");
                        tr.append("<td>" + json.resp[i].ProductName + "</td>");
                        //tr.append("<td><button type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button' class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                        //tr.append("<td><button onclick='EditSurtidores(" + json.json[i].Id_Carrier + ")' type = 'button' class= 'btn btn-white btn-circle'> <i class='fa fa-edit'></i></button><button type='button'  onclick='DeleteSurtidores(" + json.json[i].Id_Carrier + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-minus'></i></button></td >")
                        $('#tblShowProduct').append(tr);

                    }
                    $('#dlgShowProdcut').modal('show');
                }
                else {
                    alert(json.Message);
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);

            }

        });
    }

        function GetSolicitarGuia() {

            //var _Id_Num_UN = $("#hddTda").val();



            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("GetSolicitarGuia", "ProcesoSurtido")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {



                        //$("#tblSolicitutGuia tbody").empty();

                        //debugger;
                        //if (json.Message.mensaje.length != 0) {
                        //    tr = $('<tr/>');
                        //    //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                        //    tr.append("<td colpan='4'>" + json.Message[i].mensaje + "</td>");

                        //    $('#tblSolicitutGuia').append(tr);
                        //}

                        var table = $('#tblSolicitutGuia').DataTable();

                        table.clear().draw();
                        table.destroy();



                        table.row.add([
                            '1'
                            , '1'
                            , '1'
                            , '1'

                        ]).draw();

                        iniciatblSolicitutGuia();

                    }
                    else {
                       alert(Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                }

            });

        }

        function popCancelar() {
            $("#txtOtro").hide();
            $('#txtOtro').val('');
            $('#dlgCancel').modal('show');
        }

        function AddEmbalaje() {

        debugger;
        var selProd = 0;
        $('input[type=checkbox][id*=chkSel_]').each(function () {
            if ($(this).is(":checked") && $(this).is(":disabled") == false) {
                selProd ++
            }
        });
        if (selProd == 0) {
            alert("No ha seleccionado productos");
            return;
        }
        var _txtKG = $("#txtKG").val();
        if (_txtKG.length == 0) {
            alert("Campo Peso kg vacío!");
            $("#txtKG").focus();
            return;
        }
        var _txtLg = $("#txtLg").val();
        if (_txtLg.length == 0) {
            alert("Campo Largo vacío!");
            $("#txtLg").focus();
            return;
        }
        var _txtAn = $("#txtAn").val();
        if (_txtAn.length == 0) {
            alert("Campo Ancho vacío!");
            $("#txtAn").focus();
            return;
        }
        var _txtAl = $("#txtAltura").val();
        var PackageType = "Sobre";
        var paqueteType = $("input[name=optionsRadios]")[1].checked;
        if (paqueteType) {
            PackageType = "Paquete";
            if ($("#txtAltura").length == 0) {
                alert("Campo Altura vacío!");
                $("#txtAltura").focus();
                return;
            }
        }
        else {
            var _txtAl = "0";
            $("#txtAltura").val("0");
        }

        var IdTracking = "";
        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("SigFolioDisp", "Ordenes")',
            data: {

            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    IdTracking = json.resp;
                }
                else {
                    alert(json.Message);
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);

            }

        });

        var TrackingType = "Normal";
        var _UeNo = $("#hddUeNo").val();
        var _OrderNo = $("#hddOrderNo").val();
              var CreationId = 't_joserp';
              debugger;
        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("CreacionCabeceraGuia", "Ordenes")',
            data: {
                UeNo: _UeNo,
                OrderNo: _OrderNo,
                IdTracking: IdTracking,
                TrackingType: TrackingType,
                PackageType: PackageType,
                PackageLength: _txtLg,
                PackageWidth: _txtAn,
                PackageHeight: _txtAl,
                PackageWeight: _txtKG,
                CreationId: CreationId
            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    //alert("success");
                }
                else {
                    alert(json.Message);
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);

            }

        });

        var i = 0;
        $('input[type=checkbox][id*=chkSel_]').each(function () {
            if ($(this).is(":checked") && $(this).is(":disabled") == false) {
                row = $(this).closest("tr");
                var arrBarProd = $(row)[0].cells[0].innerText.split("\n")
                var Barcode = arrBarProd[0];
                var ProductId = $(this).val();  //arrBarProd[1];
                var ProductName = $(row)[0].cells[1].innerText;
                debugger;
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DetalleProdaProd", "Ordenes")',
                    data: {
                        UeNo: _UeNo,
                        OrderNo: _OrderNo,
                        IdTracking: IdTracking,
                        TrackingType: TrackingType,
                        ProductId: ProductId,
                        Barcode: Barcode,
                        ProductName: ProductName,
                        CreationId: CreationId
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            //alert(json.resp);
                        }
                        else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);

                    }

                });
            }
            i++;
        });

        //$('#tblEmbalaje').append('<tr><td>' + '</td><td>' + $("#txtKG").val() + '</td><td>' + $("#txtLg").val() + ' x ' + $("#txtAn").val() + ' x ' + $("#txtAltura").val() + ' </td><td>' + IdTracking + '</td></tr>');
        $('input[type=checkbox][id*=chkSel_]').each(function () {
            if ($(this).is(":checked") && $(this).is(":disabled") == false) {
                this.checked = false;
            }
        });

        location.reload();
    }

        function popEmbalaje() {
            $('#txtKG').val("");
            $('#txtLg').val("");
            $('#txtAn').val("");
            $('#txtAltura').val("");
            $('#dlgAddProdcut').modal('show');
        }

        function FinalizaEmbarqueDST() {

        var ch = "0";
        //if (document.getElementById('CheckPinPad').checked) {
        //    ch = "1";
        //}

        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("FinalizarEmbarque", "Ordenes")',
            data: {
                //num: id

                OrderNo: document.getElementById("hddOrderNo").value,
                ue: document.getElementById("hddUeNo").value,
                store: document.getElementById("hddStoreNum").value,
                status: document.getElementById("hddStatusUe").value,
                bolsas: 0, //document.getElementById("in_bolsas").value,
                contenedores: 0, //document.getElementById("in_contenedores").value,

                hieleras: 0, //document.getElementById("in_hieleras").value,
                checkPinPad: ch
            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    location.reload();
                    //window.location.href = '@Url.Content("~/ordenes/OrdenSeleccionada")';
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
               alert(errorThrown);

            }
        });

    }

        $("#ddlMotCan")
            .change(function () {

                $("#txtOtro").val('');
                if ($("#ddlMotCan").val() == "99") {
                    $("#txtOtro").show();
                    $("#txtOtro").focus();
                } else {
                    $("#txtOtro").hide();
                }

            })

        function Cancelar() {
            var dll = $("#ddlMotCan");

            var _Cause_Desc = $("#ddlMotCan option:selected").text();
            var __IdCause = dll.val();//document.getElementById("ddlMotCan").value; //$("#ddlMotCan").val()
            var _UeNo = $("#hddUeNo").val();
            var _OrderNo = $("#hddOrderNo").val();
            if (_Cause_Desc == "99") {
                if ($("#txtOtro").val() == "") {
                    $("#txtOtro").focus();
                    return;
                }
                else {
                    _Cause_Desc = $("#txtOtro").val();
                }
            }

             $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("Cancelar", "ProcesoSurtido")',
                data: {
                    Cause_Desc: _Cause_Desc
                    , IdCause: __IdCause
                    , UeNo: _UeNo
                    , OrderNo: _OrderNo
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        location.reload();
                    }
                    else {
                       alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                }

            });
        }

        function Consignacion() {
            var values = [];
            var markedCheckbox = document.getElementsByName('chbConsig');
            debugger;
            for (var checkbox of markedCheckbox) {
                debugger;
                if (checkbox.checked)
                    values.push(checkbox.value);
                   // document.body.append(checkbox.value + ' ');
            }
         //public ActionResult Consignacion(List<string> items, string UeNo, string OrderNo, string NombreExpedidor, string NumeroTransaccion)
            if (values.length != 0) {
                var _UeNo = $("#hddUeNo").val();
                var _OrderNo = $("#hddOrderNo").val();
                var _NombreSurtidor = $("#hddSupplierName").val();
                var _SurtidorID = $("#hddIdSupplierWH").val();


                 $.ajax({
                    async: false,
                    type: "POST",
                    url: '@Url.Action("Consignacion", "ProcesoSurtido")',
                    data: {
                        items: values
                        , UeNo: _UeNo
                        , OrderNo: _OrderNo
                        , NombreSurtidor: _NombreSurtidor
                        , SurtidorID: _SurtidorID

                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            location.reload();
                            // window.location.href = '@Url.Content("~/ordenes/OrdenSeleccionada")';
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);

                    }
                });

            }
        }

        function DeletePaquete(idTracking) {
        var TrackingType = "Normal";
        var _UeNo = $("#hddUeNo").val();
        var _OrderNo = $("#hddOrderNo").val();
        var idTracking = idTracking;

        $.ajax({
            async: false,
            type: "GET",
            url: '@Url.Action("BorrarPaquete", "Ordenes")',
            data: {
                UeNo: _UeNo,
                OrderNo: _OrderNo,
                IdTracking: idTracking,
                TrackingType: TrackingType
            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    location.reload();
                }
                else {
                    alert(json.Message);
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);

            }

        });
        }


        function GuardarVehiculo() {



            var _UeNo = document.getElementById("hddUeNo").value;
            var _OrderNo = document.getElementById("hddOrderNo").value;
            var _idOwner = document.getElementById("hddIdOwner").value;
            var _idSupplierWH = document.getElementById("hddIdSupplierWH").value;
            var _idSupplierWHCode = document.getElementById("hddIdSupplierWHCode").value;
            var _SerialId = document.getElementById("txtSerie").value;
            var _BateryId = document.getElementById("txtBateria").value;
            var _EntryBy = document.getElementById("txtEntradaPor").value;
            var _EntryDate = document.getElementById("txtFechaEntrada").value;
            var _PetitionId = document.getElementById("txtNoPedimento").value;
            var _MotorId = document.getElementById("txtNoMotor").value;
            var _RepuveId = document.getElementById("txtRepuve").value;
            var _Year = document.getElementById("txtAnio").value;
            var _ColorId = document.getElementById("txtColor").value;
            var _ModelId = document.getElementById("txtModelo").value;
            var _BrandId = document.getElementById("txtMarca").value;
            var _CylinderCapacityId = document.getElementById("txtCilindraje").value;

              $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("SaveVehiculo", "ProcesoSurtido")',
            data: {
                //num: id

                UeNo: _UeNo,
                OrderNo: _OrderNo,
                idOwner: _idOwner,
                idSupplierWH: _idSupplierWH,
                idSupplierWHCode: _idSupplierWHCode,
                SerialId: _SerialId,
                BateryId: _BateryId,
                EntryBy: _EntryBy,
                EntryDate: _EntryDate,
                PetitionId: _PetitionId,
                MotorId: _MotorId,
                RepuveId: _RepuveId,
                Year: _Year,
                ColorId: _ColorId,
                Year: _Year,
                ModelId: _ModelId,
                BrandId: _BrandId,
                CylinderCapacityId: _CylinderCapacityId

            },
            datatype: "html",
            success: function (json) {
                if (json.Success) {
                    location.reload();
                    //window.location.href = '@Url.Content("~/ordenes/OrdenSeleccionada")';
                }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
               alert(errorThrown);

            }
        });
        }
    </script>

    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>

        $(document).ready(function () {
            $('#tblAcepConsig thead tr').clone(true).appendTo('#tblAcepConsig thead');
            $('#tblAcepConsig thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblAcepConsig").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );


            $("#tblVehiculos").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );


        });

        function iniciatblSolicitutGuia() {
            $("#tblSolicitutGuia").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    //destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true,
                    @* "language": {

                "emptyTable": '@ViewBag.MensajeSolGuia'
            }*@
                }
            );
        }
    </script>
}